// Tweaks to Header for Kmart

#header.kmart {
  form {
    border:solid 5px #e02334;
    #input_search {
      background:transparent no-repeat 0px 0px;
      border:none;
      height:em-adjust( 1.25em );
      padding:em-adjust( .25em 0 .25em 1.7em );
      margin-right:9%;
      width:84%;
    }
    #button_search {
      background:transparent repeat-x 0px -48px;
      border:solid #e02334;
      border-width:0 0 0 5px;
      // font-size:.75em;
      font-size: font-size( 12 );
      height:2.5em;
      padding-bottom:.20em;
      position:absolute;
      right:0px;
      top:0px;
      width:3.33em;
      @extend .upcase;
    }
  }
}
