// Tweaks to Polls for Garden Solutions Center

.kmart {
  .wp-polls {
    li {
      span {
        &:first-child {
          color: kmart( link );
        }
      }
    }
    h1.content-headline {
      color: garden( link );
    }
    .bar {
      background: #a2cd3e;
    }
  }
}

.wp-polls {
  .content-header p {
    color:#3b2314;
    font-style: normal;
    font-weight: bold;
  }
}
.wp-polls .results li span:first-child {
  color:#006633;
  font-size:150%;
}
.wp-polls .info, .wp-polls .total {
  border:none;
}
.wp-polls .info > div:first-child, .wp-polls .total > div:first-child {
  margin-left:0px;
}
