[submodule "dropzones"]
	path = wordpress/wp-content/plugins/wp-dropzones
	url = git@github.com:eddiemoya/WP-Dropzones.git
[submodule "meet-team"]
	path = wordpress/wp-content/plugins/meet-team
	url = git@github.com:harryoh87/meet-team-widget.git
[submodule "cct"]
	path = wordpress/wp-content/plugins/comment-types
	url = git@github.com:eddiemoya/Custom-Comment-Types.git
[submodule "action-jackson"]
	path = wordpress/wp-content/plugins/action-jackson
	url = git@github.com:eddiemoya/Action-Jackson.git
[submodule "sso"]
	path = wordpress/wp-content/plugins/shc-sso
	url = git@github.com:eddiemoya/dans-plugin.git
