.DS_Store
etc/wordpress/develop.php
etc/nginx/wordpress/develop.conf
wordpress/wp-content/themes/.sass-cache/
/nbproject/private/
*wp-config.php
*.DS_Store
wordpress/wp-content/themes/Eris/.sass-cache/
wordpress/wp-content/themes/Eris/assets/.sass-cache/
wordpress/wp-config.php
/wordpress/wp-content/uploads/