[submodule "dropzones"]
	path = wordpress/wp-content/plugins/wp-dropzones
	url = git@github.com:eddiemoya/WP-Dropzones.git
[submodule "meet-team"]
	path = wordpress/wp-content/plugins/meet-team
	url = git@github.com:harryoh87/meet-team-widget.git
[submodule "cct"]
	path = wordpress/wp-content/plugins/comment-types
	url = git@github.com:eddiemoya/Custom-Comment-Types.git
[submodule "sso"]
	path = wordpress/wp-content/plugins/shc-sso-profile
	url = git@github.com:eddiemoya/dans-plugin.git
[submodule "wordpress/wp-content/plugins/posts-widget"]
	path = wordpress/wp-content/plugins/posts-widget
	url = git@github.com:eddiemoya/Posts-Widget.git
[submodule "wordpress/wp-content/plugins/action_jackson"]
	path = wordpress/wp-content/plugins/action_jackson
	url = git@github.com:eddiemoya/Action-Jackson.git
[submodule "Action-Jackson"]
	path = Action-Jackson
	url = git@github.com:eddiemoya/Action-Jackson.git
