.DS_Store
.settings/*
etc/wordpress/develop.php
etc/nginx/wordpress/develop.conf
*.sass-cache
*.sass-cache/
/nbproject/private/
*.DS_Store
/wordpress/wp-content/themes/.sass-cache/
*DS_Store*

#Wordpress Specific Ignores (github recommended)
wordpress/.htaccess
wordpress/wp-*.php
xmlrpc.php
wordpress/wp-config.bu.php
wordpress/wp-config.php
wordpress/wp-admin/
wordpress/wp-includes/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/upgrade/*
wordpress/wp-content/backup-db/*
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/wp-cache-config.php
wordpress/wp-content/cache/*
wordpress/wp-content/cache/supercache/*
wordpress/wp-content/uploads/
wordpress/sitemap.xml
wordpress/sitemap.xml.gz
wordpress/readme.html
wordpress/license.txt

!*/wp-config.php
!*/uploads/*
.projects
.project
.buildpath
.bundle
Gemfile*
