/*
Syntax error: Invalid CSS after "...-align: center;": expected "}", was "<<<<<<< HEAD"
        on line 1707 of sass/_presentation.scss
        from line 19 of sass/style.scss

1702: 
1703: .pagination {
1704:   border-top: 1px solid #CCCCCC;
1705:   padding: 0.5em;
1706:   text-align: center;
1707: <<<<<<< HEAD
1708: }
1709: =======
1710: }
1711: 
1712: .summary-list {

Backtrace:
sass/_presentation.scss:1707
sass/style.scss:19
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/scss/parser.rb:1010:in `expected'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/scss/parser.rb:956:in `expected'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/scss/parser.rb:951:in `tok!'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/scss/parser.rb:463:in `block'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/scss/parser.rb:456:in `ruleset'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/scss/parser.rb:480:in `block_child'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/scss/parser.rb:473:in `block_contents'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/scss/parser.rb:58:in `stylesheet'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/scss/parser.rb:27:in `parse'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/engine.rb:327:in `_to_tree'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/engine.rb:259:in `to_tree'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `each'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/tsteel5/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...-align: center;\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 1707 of sass/_presentation.scss\A         from line 19 of sass/style.scss\A \A 1702: \A 1703: .pagination {\A 1704:   border-top: 1px solid #CCCCCC;\A 1705:   padding: 0.5em;\A 1706:   text-align: center;\A 1707: <<<<<<< HEAD\A 1708: }\A 1709: =======\A 1710: }\A 1711: \A 1712: .summary-list {"; }
