#footer_anterior {
  font-size: percentage( 12/16 );
  margin-top: 1em;
  @include col-layout( ( 76, 160, 74, 74, 74, 74, 74, 74, 74, 16, 16, 16, 16 ), 10);

//  li {
//    float: left;
//    margin-left: 10px;
//  }
  .icon {
    background-image: url('#{$img}sprite-footer.png');
    background-repeat: no-repeat;
    //width: 16px;
    a {
      display:inline-block;
      height:15px;
      line-height:16px;
      text-indent:-999999em;
    }
  }
  .acc.icon {
//    width: 73px;
//    margin-left: 0;
    a {
      height:30px;
      line-height:31px;
    }
  }
  @include sprite-position(".acc", left, top );
  @include sprite-position(".fb", -120px, top );
  @include sprite-position(".twtr", -160px, top );
  @include sprite-position(".yt", -200px, top );
  @include sprite-position(".smb", -240px, top );
}