// SITE-WIDE TAG STYLES
html, body {
  height: 100%;
  text-align: left;
  background: $lightest-color;
  margin: 0;
  padding: 0;
  font-family: $basefont;
  line-height: 1.4;
  color: sears( body);
}

a {
  color: sears( link );
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: sears( link );
  }
}
// END SITE-WIDE TAG STYLES

// CONVENIENCE CLASSES
.right {
  float: right;
}
.left {
  float: left;
}
.clearfix {
  @include legacy-pie-clearfix;
}

.bullets {
  margin: 1em 0; 
  padding: 0 0 0 40px; 
}

ol.bullets {
  list-style-type:decimal;
}

ul.bullets {
  list-style-type:disc;
}
// END CONVENIENCE CLASSES


// AUTHORIZATION FORM
.authorization-form {
  border:solid 1px black;
  font: .8125em/1.25em Arial,Helvetica, san-serif;
  padding:1.55em;
  h1 {
    color:#8F8F8F;
    font-size:1.45em;
    line-height:1em;
    margin-bottom:1.05em;
  }
  .form-fields {
    & > li {
      dd {
        float:left;
        width:65%;
      }
      dt {
        float:left;
        min-width:5.5em;
        width:25%;
      }
      label {
        display:block;
        padding-right:.85em;
        text-align:right;
      }
      input[type="text"], input[type="password"] {
        //float:left;
        border:solid 1px #A0C7D7;
        color:#363636;
        height:1.84em;
        //min-width:15.7em;
        padding:.25em;
        width:95%;
      }
      input[type="text"][shc\:link="true"], input[type="password"][shc\:link="true"] {
        width:60%;
      }
      input + a {
        color:#049DD5;
        font-size:.85em;
        text-decoration:none;
      }
    }
    
  }
}

.drop-zone_25 {
  .authorization-form {
    .form-fields{
      label {
        text-align:left;
      }
    }
  }
}
