// @author Carl Albrecht-Buehler
// @author Tim Steele

// SITE-WIDE TAG STYLES
html, body {
  height: 100%;
  text-align: left;
  background: $lightest-color;
  margin: 0;
  padding: 0;
  font-family: $basefont;
  line-height: 1.4;
  color: sears( body);
}

a {
  color: sears( link );
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: sears( link );
  }
}

.kmart a {
  color: kmart( link );
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: kmart( link );
  }
}

.sears a {
  color: sears( link );
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: sears( link );
  }
}
// END SITE-WIDE TAG STYLES

// CONVENIENCE CLASSES
.right {
  float: right;
}
.left {
  float: left;
}

.bullets {
  margin: 1em 0; 
  padding: 0 0 0 40px; 
}

ol.bullets {
  list-style-type:decimal;
}

ul.bullets {
  list-style-type:disc;
}

.bold {
  font-weight:700;
}

.faint {
  color:#666666;
}

.upcase {
  text-transform: uppercase;
}

.downcase {
  text-transform: lowercase;
}
/*
 * SPRITES
 */

#header.sears form #button_search, #header.sears form #input_search,
.sears_button
{
  background-image:url(assets/img/sears/sprite_global.png);
}

#header.kmart form #button_search, #header.kmart form #input_search
.kmart_button
{
  background-image:url(assets/img/kmart/sprite_global.png);
}

// COMMONLY USED ELEMENTS
.badge {
  img {
    display: block;
    margin: 0 auto;
  }
  h4 {
    background: #bcdaf3 url('#{$img}sprite-user.png') repeat-x left bottom;
    color: $lightest-color;
    text-align: center;
    padding: .5em 0;
    @extend .bold;
    @include border-radius( 0 0 10px 10px );
  }
  .badge-tail {
    background: url('#{$img}sprite-user.png') no-repeat center top;
  }
}

/*
 * GLOBAL ELEMENTS
 */

/*
 * form elements
 */
.input_text {
  /*
   * Do not set padding for left/right to 0.
   * IE8 no like this.
   */
  padding:.3125em .01em;
  border:solid 1px #cccccc;
  height:1.25em;
}

.sears_button, .kmart_button {
  border-left:solid #ff9e6c;
  border-right:solid #cc6f35;
  border-width:0px 1px;
  color:#ffffff;
  cursor:pointer;
  font-size:.875em;
  font-weight:bold;
  height:2.25em;
  padding:0em 1.5em;
  position:relative;
  text-shadow:1px 1px #666666;
  top:-1px;
  @include border-radius( 5px );
}

.sears_button {
  background-position:0px -88px;
}

.kmart_button {}

form {
  // #input_search {
      // background:transparent url(assets/img/kmart/icon_search-bar-magnifying-glass_28x28.gif) no-repeat 0px 0px;
      // border:none;
      // height:1.25em;
      // padding:.25em 0 .25em 1.7em;
      // margin-right:9%;
      // width:84%;
    // }
    // #button_search {
      // background:transparent url(assets/img/kmart/background_button.gif) repeat-x 0px 0px;
      // border:solid #e02334;
      // border-width:0 0 0 5px;
      // font-size:.75em;
      // height:2.5em;
      // padding-bottom:.25em;
      // position:absolute;
      // right:0px;
      // text-transform:uppercase;
      // top:0px;
      // width:3.33em;
    // }
}

/*
 * FEATURED
 */

.content-container .content-headline {
  font-size:1.25em;
  @extend .bold;
}

.content-container .content-header {
  border:solid #dddcdc;
  border-width:1px 0px;
  padding:.625em;
  @extend .bold;
  @extend .faint;
  h3 {
    font-size:1.25em;
  }
  h4 {
    font-size:.6875em;
  }
}

.content-container .content-body {
  padding:.625em;
  p {
    color:#333333;
    font-size:.8125em;
    line-height:1.7em;
    margin-bottom:1em; 
  }
  .content-details {
    padding-bottom:.625em;
    .content-category {
      font-size:.8125em;
      float:left;
      @extend .bold;
    }
    .content-date {
      color:#999999;
      font-size:.6875em;
      float:right;
    }
  }
  .content-comments {
    color:#333333;
    font-size:.75em;
    margin-top:.8125em;
    li {
      border-left:solid 1px #999999;
      float:left;
      padding:0em .3125em;
    }
    & > li:first-child {
      border-left:none;
    }
  }
}

// FEATURED COMMUNITY MEMBERS
.featured-members {
  h4 a, address {
    @extend .bold;
  }
  h5, p {
    @extend .faint;
  }
  address {
    display: block;
  }
  .span4 {
    .member {
      font-size: percentage( 12/16 );
      border-right: 1px solid sears( decorative );
      @include col_layout( (100, 90), 10 );
      .stats {
        //clear: left;
        width: 100%;
      }
    }
    & + .span4 + .span4 .member {
      border-right: 0;
    }
  }
}

.span8.featured-members.content-container {
  .content-header {
    border: 0;
    color: $darkest-color;
    padding: inherit 0;
  }
  .content-body {
    padding: 0;
  }
}

.span4.featured-members {
  .span4 {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-bottom: 1em;
    .member {
      border-right: 0;
      @include col_layout( (80, 210), 10 );
      article ul, h5 {
        //display: none;
      }
    }
  }
}

// FEATURED QUESTION
.featured-question.content-container {
  .category-image {
    background:transparent url(#{$img}category-image.jpg) no-repeat 0px 0px;
    float:left;
    height:6.25em;
    margin:0 .625em .625em 0;
    width:6.25em;
  }
}

/*
 * POST A QUESTION
 */

.content-container.post-your-question {
  form {
    margin-top:.75em;
    .state_post-your-question {
      .input_text {
        width:83%;
      }
    }
    .input_text {
    }
    #button_search {

    }
  }
}
