.content-container .breadcrumbs {
  border-top: 1px solid #d5d5d5;
}

.content-container .single {
  border-top: 1px solid #d5d5d5;
  margin-left: 0px;
  padding-left:$margin-width-pct;

  h2 {
    color: #3a81ce;
    font-size: 24px;
  }
}