// @author Carl Albrecht-Buehler

$arrow-height: 3px;

// General class for creating a dropdown or "dropup" menu
.dropmenu {
  > li {
    float: left;
    position: relative;
    > span, a {
      display: block;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
    }
    // Hover reveals drop menu
    &:hover { 
      ul {
        left: 0;
      }
    }
  }
  // Styling for drop menu
  ul {
    width: 99%;
    position: absolute;
    left: -9999px;
    z-index: 7001;
    li {
      float: none;
      width: 100%;
      a {
        color: sears( secondary-link );
        font-weight: normal;
        text-align: left;
        padding-left: 1em;
        padding-right: .3em;
        &:visited {
          color: sears( secondary-link );
        }
      }
    }
  }
}

#navigation {
  width:960px;
  margin:0 auto;
}


// Modify dropmenu for the footer
#footer_nav.dropmenu {
  > li {
    > span, a {
      padding-top: .66em;
      padding-bottom: .66em;
      span {
        background-repeat: no-repeat;
        padding-right: 16px;
        display: inline-block;
        //width: 90%;
      }
      @include sprite-position( "span", right, ( $nav-sprite-period * ( -3 ) ) );
    }
    // Make the footer item appear above the footer bar ("drop-up")
    ul {
      bottom: 100%;
    }
  }
  // Modifications to hovering menu for footer
  ul {
    li {
      &:hover {
        // background: none;
      }
    }
  }
}
