.product-slider-widget-content {
	position: relative;
	.right-arrow {
		position: absolute;
		top: 55px;
		right: -20px;
		background: url(../img/hero-slide-right.png) -3px -16px transparent;
		height: 63px;
		width: 35px;
		z-index: 1;
	}
	.left-arrow {
		position: absolute;
		top: 55px;
		left: -22px;
		background: url(../img/hero-slide-left.png) -3px -16px transparent;
		height: 63px;
		width: 35px;
		z-index: 1;
	}
	.layout_horizontal {
		overflow: hidden;
	}
}

@for $i from 1 through 4 {
	.product-slider-widget-content.viewport_size_#{$i} {

		.product-slider-viewport{
			width: ((100/$i)*($i + 2)) * 1%;
			margin-left: (100/$i) * -1%;
		}
				
		.product {
			width: (100/($i + 2)) * 1%;
			float: left;
			text-align: center;
			p {
				line-height: 110%;
			}
			.product-stars {
				background: url(../img/star-green.png) 0 0 transparent;
				width: 20px;
				height: 16px;
				display: inline-block;
				&.star-deselected {
					background: url(../img/star-green.png) 20px 0 transparent;
				}
			}
			.old-price {
				text-decoration: line-through;
			}
			&.inactive-left {
				margin-left:-100%;
			}
			&.inactive-right {
				margin-right:-100%;
			}
		}

	}
}