.tooltip {
  .middle {
    .info {
      .top {
        margin-bottom: 15px;
      }

      .bold {
        margin-bottom: 10px;
      }

      ul {
        list-style-type: circle;
        margin-bottom: 15px;
        padding-left: 15px;
      }
    }
  }
}

.badge-exegesis {
  .lonebadge {
    clear: left;
    margin-top: 1em;
    h3 {
      font-weight: bold;
    }
  }
}

#badgesInfo {
  .badge-exegesis {
    margin: 1em;
  }
  h2 {
    margin: 1em 0 0 .722em;
    font-size: font-size(18);
  }
}