
.bbpress {
	#comm-forums-main {
		.bbp-forums-list {
			border: none;
			margin: 0;
			padding: 0;
		}
	}
	#bbpress-forums {
		.bbp-lead-topic {
			border: none;
		}
		.bbp-footer {
			text-align: right;
			font-weight: normal;
		}
		div.bbp-forum-author, 
		div.bbp-topic-author, 
		div.bbp-reply-author {
			width: 60px;
		}
	}
}