// Tweaks to Polls for Kmart

.kmart {
  .wp-polls {
    li {
      span {
        &:first-child {
          color: kmart( link );
        }
      }
    }
    h1.content-headline {
      color: kmart( link );
    }
    .bar {
      background: kmart( bar );
    }
  }
}
