// Tweaks to Presentation for Kmart
html, body {
  background: kmart( background );
  color: kmart( bodycopy );
}

// Sprites
#header.kmart form #button_search, #header.kmart form #input_search,
.kmart_button
{
  background-image:image-url("#{$kmart-img}sprite_global.png");
}

.kmart {
  // Site-Wide Tag Styles
  a {
    color: kmart( link );
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: kmart( link );
    }
  }
  // Convenience Classes
  .link-emulator {
    color: kmart( link );
  }
  // Featured
  .content-body {
    p {
      color: kmart( featured-copy );
    }
  }
  // Singles Page
  .post, .question {
    h1 {
      color: kmart( link );
    }
  }
  // Profile Page
  .answers-toggle, .upload-photo label {
    color: kmart( link );
    @extend .bold;
  }
  .rating-bar {
    background: kmart( rating );
  }
  // Threaded Discussion
  .comment-actions button {
    background: transparent image-url("#{$sears-img}/sprite_global.png") repeat-x 0 -200px;
  }
  // Breadcrumb
  .breadcrumb li:before {
    color:kmart( link );
  }
  // Search Results
  .no-results .term {
    color: kmart( link );
  }
  // Errors
  .site-error .message {
    background: kmart( site-error );
  }
  // Avatar
  .member_avatar .badge {
    background-position:0px -243px;
  }
}

// Form Elements
.kmart_button {
  border-left:solid #ff9e6c;
  border-right:solid #cc6f35;
  border-width:0px 1px;
  color: $lightest-color;
  cursor:pointer;
  font-weight:bold;
  height:32px;
  margin-right:1em;
  padding:0em 1.5em;
  position:relative;
  text-shadow:1px 1px sears( sec-dec );
  @include border-radius( 5px );
  background-position:0px -96px;
}

.kmart_button.azure {
  background-image: image-url('#{$sears-img}/sprite_global.png');
  border-color:#60768b;
  color:#366392;
  text-shadow:none;
  background-position:0px -140px;
  margin-right: 0px;
}

// Threaded Discussion
.kmart .comment-actions button {
  background: transparent image-url("#{$sears-img}/sprite_global.png") repeat-x 0 -200px;
}