// Tweaks to Presentation for Outdoor Style
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Open+Sans:300italic,400italic,700italic,400,700,300);

$regular: 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
$condensed: 'Open Sans Condensed', Helvetica, Arial, Verdana, sans-serif;

html {
  background:transparent image-url("#{$outdoor-img}background_main-wood.jpg") repeat 0px 0px;
  color: outdoor( bodycopy );
  font-family:$regular;
  height:auto;
}

#content {
  color:#4d4d4f;
  font-family:$regular;
}

.menu-sears-ribbon-container, .menu-kmart-ribbon-container {
  position:relative;
  z-index:100;
}

#container, #persistent-header {
  background:transparent image-url("#{$outdoor-img}background_container-noise.jpg") repeat 0px 0px;
}

#container {
  @include box-shadow(rgba(0,0,0,.75) 0 10px 21px 14px);
  padding:0px 10px;
}

.content-container {
  .content-header {
    h3 {
      font-family:$condensed;
      font-weight:700;
    }
  }
}

.sears a, .sears a:visited, .sears a:hover {
  color:#067bb5;
}

#content > section.span12 {
  border-top:none;
}

.single .span12 > .span8 .dropzone-inner-wrapper > .image-widget .content-body,
.dropzones.span12 > .dropzone > .dropzone-inner-wrapper > .content-container.image-widget .content-body {
  border:none;
  text-align:center;
}

.menu-odssubnavigation.content-container {
  .content-body {
    border:none;
  }
}

.hero-slider.content-container {
  .content-body {
    border:none;
  }
}

.category-outdoors .menu-odssubnavigation .subnav-items{

	text-align: center;
}

#menu-odssubnavigation {
	
	display: inline-block;
	margin: 0 auto;
	
	zoom: 1;
	*display: inline;
	
  li {
    a, a:visited, a:hover {
      color:#067bb5;
    }
    a:hover {
      text-decoration:none;
    }
    font-family:$regular;
    font-size:font-size(24);
    font-weight:300;
    float:left;
    margin-right: 20px;
   // width:13%;
  }
  li:first-child {
    text-align:left;
  }
  .ods_nav_guides {
    text-align:right;
  }
  .ods_nav_questions {
   // width:28%;
  }
  .ods_nav_blog {
  	// width: 25%;
  }
  .category-outdoorstyle & .ods_nav_home {
    font-weight:400;
    a, a:visited, a:hover {
      border-bottom:solid 1px #e78e60;
      color:#666666;
    }
  }
}

.category-outdoorstyle[class*="post-type-"] #menu-odssubnavigation li.ods_nav_home {
  a, a:visited, a:hover {
    border-bottom:none;
    color:#067bb5;
    font-weight:300;
  }
}

.archive_posts #menu-odssubnavigation li.ods_nav_blog, .single-post #menu-odssubnavigation li.ods_nav_blog,
.archive_questions #menu-odssubnavigation li.ods_nav_questions, .single-question #menu-odssubnavigation li.ods_nav_questions,
.archive_guides #menu-odssubnavigation li.ods_nav_guides, .single-guide #menu-odssubnavigation li.ods_nav_guides {
  a, a:visited, a:hover {
    border-bottom:solid 1px #e78e60;
    color:#666666;
    font-weight:400;
  }
}



.results-list .content-container, .content-container.featured-post {
  margin-top:1.54em;
  .content-header {
    background-color:#4d4d4f;
    border:none;
    font-family:$condensed;
    font-weight:700;
    left:1px;
    padding:0.5em 0.769em;
    position:absolute;
    top:1px;
    h3 {
      color:#ffffff;
      font-size:font-size(16);
      text-transform:uppercase;
    }
  }
  .content-body {
    background:#ffffff;
    border:solid 1px #e3e1e1;
    padding:0px;
  }
}

.content-body {
  .content-headline {
    border-bottom:solid 2px #4d4d4f;
    font-family:$condensed;
    font-size:font-size(27);
    padding-bottom:0.37em;
    a, a:visited, a:hover {
      color:#4d4d4f;
    }
  }
  .results-list & .featured-image + .span6, .results-list & .content-video + .span6, .featured-content,
  .results-list & .featured-image + .span12, .results-list & .content-video + .span12 {
    @include box-sizing(border-box);
    padding:0.769em;
  }
}

.span12 > .content-body {
  .featured-image + .featured-content, .featured-image + .span6, .content-video + .span6 {
    padding-left:0px;
  }
}

.post-actions {
    margin: 0 -0.5em;
}

.format-video.content-container {
  .content-header {
    display:none;
  }
}

.featured-question.content-container {
  .content-body {
    padding:3.7em 0.769em 0.769em;
    h1 a {
      &:before {
        content: "\201C";
      }
      &:after {
        content: "\201D";
      }
    }
  }
}

.addthis.dropmenu .sharebutton {
  font-family:$condensed;
}

// Shit in right rail
.span4 .dropzone-inner-wrapper.border-left {
  .content-container {
    .content-header {
      border-top:none;
      h3 {
        font-family:$regular;
        font-size:font-size(20);
        font-weight:300;
      }
      h4 {
        font-family:$regular;
        font-size:font-size(12);
        font-weight:400;
      }
    }
    .content-body {
      
    }
  }
}

.dropzones.span12 > .dropzone > .dropzone-inner-wrapper.border-left > .content-container.image-widget .content-body {
  border-top:solid 1px #dedede;
}
.widget_polls-widget {
  .wp-polls {
    .wp-polls-form {
      .content-header {
        p {
          font-style:normal;
          font-weight:700;
          padding:0px 0.83em 0em;
        }
      }
    }
    .content-header {
      padding:0px;
      h1, p {
        padding:0.769em;
      }
      h1 {
        font-family:$regular;
        font-size:font-size(20);
        font-weight:400;
        padding:0.5em 0.5em 0;
      }
      h1.content-headline {
        color:#2b2b2b;
      }
      p {
        padding:0.83em 0.83em 0;
      }
      p + h1 {
        margin-bottom:0;
        padding-bottom:0;
        padding-top:0;
      }
      h3 + p {
        margin-top:0px;
      }
      h3 {
        border-bottom:solid 1px #dedede; 
        font-family:$regular;
        font-weight:300;
        padding:0.5em; 
        word-spacing:0px;
        span {
          font-weight:300;
        }
      }
    }
    .content-body {
      border-top:none;
    }
  }
  .results {
    li {
      span + span + span {
        padding-top:2em;
        text-align:center;
      }
    }
    li:nth-child(odd) {
      background-color:#ebedee;
    }
  }
}

.communities_menu_widget .subnav-items li {
  padding:3px 0px;
}

.sears .content-container .wp-polls {
  .info, .total {
    border:none;
    & > div:first-child {
      margin-left:0;
    }
  }

  .bar {
    background-color:#067bb5;
  }
  li span:first-child {
    color: #666666;
    font-family:$regular;
    font-size:font-size(18);
    font-weight:400;
  }
}

.page-title {
  .content-body {
    border-top:none;
    background-color:#ededee;
    h1 {
      font-size:font-size(20);
      font-family:$regular;
      font-weight:400;
    }
    h2 {
      font-size:font-size(12);
      font-weight:400;
    }
  }
}

#menu-outdoor-style-design-your-outdoor-space {
  .icon > img {
  	padding-right: 10px;
  }
  li {
    background:transparent image-url("#{$outdoor-img}background_design-your-outdoor-space.gif") repeat-x 0px 0px;
    a {
      font-family:$regular;
      font-size:font-size(20);
      font-weight:300;
    }
  }
}

.post-your-question {
  margin-top:1em;
  .content-body {
    background-color:#ffffff;
    border:solid 1px #e3e1e1;
    padding:0.769em;
    @include box-sizing(border-box);
    h6.content-headline {
      border-bottom:none;
      color:#4d4d4f;
      font-family:$condensed;
      font-size:font-size(20);
      font-weight:700;
      text-transform:capitalize;
    }
  }
}

// QA Things
.archive_questions {
  .results-list {
    //background-color:#ffffff;
    border:solid 1px #e3e1e1;
    @include border-radius(0);
    form {
      label {
        font-family:$condensed;
        font-size:font-size(16);
        font-weight:700;
      }
    }
    .content-header {
      background-color:#ffffff;
      border-bottom:none;
    }
    .content-body {
      background-color:#ffffff;
    }
    .question {
      border-top:solid 2px #4d4d4f;
      margin-top:0;
      padding:0.769em 0;
      .content-body {
        border:none;
        .content-category {
          font-family:$condensed;
          font-size:font-size(14);
        }
        .content-headline {
          border-bottom:none;
          font-size:font-size(18);
          padding:0;
          a, a:visited, a:hover {
            color:#067bb5;
          }
        }
      }
    }
    .pagination {
      font-family:$condensed;
      font-size:font-size(14);
    }
  }
}

.member_details .member_screen-name, .member_details .member_location {
  font-family:$condensed;
  font-size:font-size(14);
}
.member_details .member_location {
  color:#4d4d4f;
  font-size:font-size(12);
}
    
.image-widget .content-body {
  text-align:center;
}

.single {
  .question, .post {
    margin-top:1em;
    .content-header {
      display:none;
    }
    .content-body {
      background-color:#ffffff;
      border:solid 1px #e3e1e1;
      padding:0.769em;
      @include box-sizing(border-box);
    }
  }
  .post {
    h1.content-headline {
      color:#4d4d4f;
    }
    h6 {
      border:solid #b7b7b7;
      border-width:1px 0px;
      font-family:$condensed;
      font-size:font-size(20);
      font-weight:700;
      line-height:2em;
      margin-bottom:0.5em;
    }
    .content-author {
      border-top:solid 1px #b7b7b7;
      padding-top:0.5em;
    }
  }
  .trigger.discussion {
    font-family:$condensed;
    font-weight:700;
    margin-top:0.75em;
  }
}

.comments {
  .content-header {
    border:none;
    h3 {
      font-family:$regular;
      font-size:font-size(24);
      font-weight:400;
    }
    h4 {
      font-family:$regular;
      font-size:font-size(14);
      line-height:2.75em;
    }
  }
}

#allComments {
  background:transparent;
  border:none;
  .comment {
    background:none;
    padding-left:0px;
    padding-right:0px;
    @include border-radius(0);
  }
  .children {
    border-width:1px 0px 0px;
    @include border-radius(0);
    .comment {
      border-bottom:none;
    }
  }
  .trigger.discussion {
    font-family:$condensed;
    font-weight:700;
  }
}

.dropzone.span8 .hero-slider {
  background:none;
  height:auto;
  width:auto;
  .rotating-banner {
    height:auto;
    left:0;
    top:0;
    width:auto;
    h1 {
      display:none;
    }
  }
  .next-slide, .prev-slide {
    display:none;
  }
}

.communities_menu_widget .image-list-style a span {
  margin:0 0.77em;
  width:auto;
}

.archive_posts .results-list, .archive_guides .results-list {
  .content-container {
    .content-category {
      display:none;
    }
    .content-date {
      float:left;
    }
  }
  .content-author {
    display:none;
  }
  .content-headline {
    margin-bottom:0.5em;
  }
}

// Sprites
#header.sears form #button_search, #header.sears form #input_search,
.sears_button
{
  background-image:image-url("#{$sears-img}sprite_global.png");
}
.sears {
  a {
    // Site-Wide Tag Styles
    color: outdoor( link );
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: outdoor( link );
    }
  }
  // Convenience Classes
  .link-emulator {
    color: outdoor( link );
  }
  // Featured
  .content-body {
    p {
      color: outdoor( featured-copy );
    }
  }
  // Singles Page
  .post, .question {
    h1 {
      color: outdoor( link );
    }
  }
  // Profile
  .answers-toggle, .upload-photo label {
    color: outdoor( link );
    @extend .bold;
  }
  // Threaded Discussion
  .comment-actions button {
    background: transparent image-url("#{$sears-img}/sprite_global.png") repeat-x 0 -192px;
  }
  // Breadcrumb
  .breadcrumb li:before {
    color:outdoor( link );
  }
  // Search Results
  .no-results .term {
    color: outdoor( link );
  }
  // Errors
  .site-error .message {
    background: outdoor( site-error );
  }
  // Avatar
  .member_avatar .badge {
    background-position:0px -235px;
  }
}

// Global Elements
// Form Elements
.sears_button {
  border-left:solid #ff9e6c;
  border-right:solid #cc6f35;
  border-width:0px 1px;
  color: $lightest-color;
  cursor:pointer;
  font-weight:bold;
  height:32px;
  margin-right:1em;
  padding:0em 1.5em;
  position:relative;
  text-shadow:1px 1px sears( sec-dec );
  @include border-radius( 5px );
  background-position:0px -88px;
}

.sears_button.azure {
  background-image: image-url('#{$sears-img}/sprite_global.png');
  border-color:#60768b;
  color:#366392;
  text-shadow:none;
  background-position:0px -140px;
  margin-right: 0px;
}
