// Tweaks to Header for Sears

#header.sears {
  form {
    border:solid 3px #3a81cf;
    #input_search {
      background:transparent no-repeat 0px 0px;
      border:none;
      height:em-adjust( 1.25em );
      padding:em-adjust( .125em 0 .125em 1.5em );
      margin-right:11%;
      width:82%;
    }
    #button_search {
      background:#ca4019 repeat-x 0px -44px;
      border:0;
      color:$lightest-color;
      height:1.9em;
      padding-bottom:.25em;
      position:absolute;
      right:0px;
      top:0px;
      width:3.33em;
      @extend .upcase;
    }
  }
}
