// Tweaks to Polls for Sears

.sears {
  .wp-polls {
    li {
      span {
        &:first-child {
          color: sears( link );
        }
      }
    }
    h1.content-headline {
      color: sears( link );
    }
    .bar {
      background: sears( bar );
    }
  }
}
