// Tweaks for Navigation for Sears

// Sears Header Background
%sears_nav_bg {
  background-image: image-url('#{$sears-img}sprite_navigation.png');
}

.sears #header_nav.dropmenu {
  background-color: $nav-color;
}
.sears #header_nav.dropmenu ul {
  background: $lightest-color image-url('sprite-menu.png');
}

.sears {
  #header_nav.dropmenu {
    @extend %sears_nav_bg;
    > li {
      > span, a {
        color: sears( link );
        span {
          @extend %sears_nav_bg;
        }
      }
      &.right_button {
        background-color: sears( button );
        @extend %sears_nav_bg;
      }
    }
  }
  #footer_nav.dropmenu {
    > li {
      background-color: sears( footer );
      @extend %sears_nav_bg;
      &:hover {
        @extend %sears_nav_bg;
      }
      > span, a {
        span {
          @extend %sears_nav_bg;
        }
      }
    }
  }
}

// Modify dropmenu for the header
.sears #header_nav.dropmenu {
  @include border-radius( 5px );
  border-left: 1px solid sears( decorative );
  background-repeat: repeat-x;
  ul {
    background-repeat: repeat-x;
  }
  @include sprite-position( "ul", left, bottom );
  > li {
    border-right: 1px solid sears( decorative );
    width: percentage( 1/7 );
    padding: 1px 0;
    font-size: font-size( 12 );
    > span, a {
      border-right: 1px solid $lightest-color;
      padding-top: .66em;
      padding-bottom: .66em;
      span {
        background-repeat: no-repeat;
        padding-right: 9px;
      }
      @include sprite-position( "span", right, $nav-sprite-offset );
    }
    &.right_button {
      @include border-radius( 0px 4px 4px 0px );
      float: right;
      border-left: 1px solid sears( decorative );
      border-right: 0;
      a {
        border-right: 0;
        color: $lightest-color;
      }
    }
    @include sprite-position( "&.right_button", left, ( $nav-sprite-period * ( -2 ) ) - 1 );
  }
  // Modifications to hovering menu for header
  ul {
    @include box-shadow( lighten( $darkest-color, 66 ) 2px 2px 8px );
    @include border-radius( 5px );
    border: 1px solid sears( decorative );
    li {
      width: 100%;
      // font-size: font-size( 12, 12 );
      border-right: 0;
      a {
        color: #73726F;
        border-right: 0;
      }
    }
  }
}
@include sprite-position( ".sears #header_nav.dropmenu", left, ( $nav-sprite-period * ( -1 ) ) );
.sears #header_nav.dropmenu li ul li {
  border-top: 1px solid #f1f1f1;
  &:first-child {
    border-top: 0;
  }  
}

// Modify footer for Sears
.sears #footer_nav.dropmenu {
  background-repeat: repeat-x;
  @include border-radius( 5px );
  > li {
    $divisor: ( $grid-width - ( $footer-count-sears - 1 ) ) / $footer-count-sears;
    width: percentage( $divisor / $grid-width );
    border-left: 1px solid $lightest-color;
    font-size: font-size( 12 );
    @extend %sears_nav_bg;
    > span, a {
      color: sears( footer-subnav-hover );
    }
    // Give the footer item a different background
    &:hover {
      a {
        color: sears( secondary-link );
      }
      // adjust for the first item's rounded corners
      &:first-child {
        @include border-radius( 0 0 0 5px );
      }
    }
    @include sprite-position( "&:hover", left, ( $nav-sprite-period * ( -5 ) ) );
    &:first-child {
      border-left: 0;
      @include border-radius( 5px 0 0 5px );
    }
    
    // adjust for the last item's rounded corners
    $last_item: repeat-concat( "", "+ li", ( $footer-count-sears - 1 ) );
    #{$last_item} {
      @include border-radius( 0 5px 5px 0 );
    }
    #{$last_item}:hover {
      @include border-radius( 0 0 5px 0 );
    }
  }
  // Modifications to hovering menu for footer
  ul {
    @include border-radius( 5px 5px 0 0);
    border: 1px solid sears( decorative );
    border-bottom: 0;
    background-color: sears( footer_fly );
    padding-top: 5px;
    li {
      width: auto;
      background-image: none;
      background-color: sears( footer_fly );
      font-size: font-size( 11 );
      border-left: 0;
      padding: 0 .5em .5em .5em;
      &:hover {
        background-image: none;
      }
      a {
        color: sears( secondary-link );
        padding: 0;
        &:hover {
          color: sears( footer-subnav-hover );
          text-decoration: none;
        }
      }
    }
  }
}

@include sprite-position( ".sears #footer_nav.dropmenu li", left, ( $nav-sprite-period * ( -4 ) ) );
