// Tweaks to Polls for Garden Solutions Center

.kmart {
  .wp-polls {
    li {
      span {
        &:first-child {
          color: kmart( link );
        }
      }
    }
    h1.content-headline {
      color: garden( link );
    }
    .bar {
      background: kmart( bar );
    }
  }
}

.wp-polls {
  .content-header p {
    color:#3b2314;
    font-style: normal;
    font-weight: bold;
  }
}