// Tweaks to Presentation for Garden Solutions Center

body {
  background:transparent image-url("#{$garden-img}background_main-grass.jpg") repeat 0px 0px;
  height:auto;
}

#container {
  background-color:#faf9f2;
  padding:0px 10px;
}

.content-container {
  .content-header {
    h3, h4 {
      color:#3b2314;
    }
    h4 {
      font-size:font-size(12);
      font-weight:normal;
    }
  } 
}  

#header.kmart form {
    background: none repeat scroll 0 0 #FFFFFF;
}

#header.kmart, #footer {
  a, a:visited, a:hover {
    color:kmart( link )
  }
}

#header {
  background-color:#faf9f2;
}

.content-container {
  background:#ffffff;
  margin-top:1.54em;
  .content-body {
    border:solid #dedede;
    border-width:0px 1px 1px;
    padding:0 0.769em 0.769em;
  } 
  .content-header {
    border:solid #dedede;
    border-width:1px 1px 0px; 
  }
  .content-headline {
    a, a:visited, a:hover {
      color:#a8d04a;
    }
  }
}

.content-container.image-widget {
  background:none;
  .content-body {
    border:none;
    padding:0px;
  }
}

.featured-question {
  .content-header {
    background:transparent image-url("#{$garden-img}icon_question-watering-can_29x29.png") no-repeat 10px 10px;
    padding-left:3.77em;
  }
}

#content > section.span12 > section[class*="span"] > [class*="span"]:first-child, #content > section.span12 > section[class*="span"] > [class*="span"]:first-child .content-body:first-child, #content > section.span12 > section[class*="span"] > [class*="span"]:first-child .content-header:first-child, #content > section.span12 > section[class*="span"] > .dropzone-inner-wrapper > [class*="span"]:first-child, #content > section.span12 > section[class*="span"] > .dropzone-inner-wrapper > [class*="span"]:first-child .content-body:first-child, #content > section.span12 > section[class*="span"] > .dropzone-inner-wrapper > [class*="span"]:first-child .content-header:first-child {
  
}

#content > section.span12 > section[class*="span"] > [class*="span"]:first-child, #content > section.span12 > section[class*="span"] > .dropzone-inner-wrapper > [class*="span"]:first-child {
  margin-top:0px;
}

#content > section.span12 > section[class*="span"] > .dropzone-inner-wrapper > [class*="span"]:first-child .content-header:first-child {
  border:solid #dedede;
  border-width:1px 0px 0px; 
}

#content > section.span12 {
  border-top:none;
}
.span4 .dropzone-inner-wrapper.border-left {
  .content-container {
    background:none;
    .content-header {
      border:solid #dedede;
      border-width:1px 0px 0px;
      padding: 0.769em;
    }
    .content-body {
      border:solid #DDDCDC;
      border-width:1px 0px 0px;
      padding: 0.769em;
    }
  } 
}
// Sprites
#header.kmart form #button_search, #header.kmart form #input_search,
.kmart_button
{
  background-image:image-url("#{$kmart-img}sprite_global.png");
}

.kmart {
  // Site-Wide Tag Styles
  a {
    color: garden( link );
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: garden( link );
    }
  }
  // Convenience Classes
  .link-emulator {
    color: garden( link );
  }
  // Singles Page
  .post, .question {
    h1 {
      color: garden( link );
    }
  }
  // Profile Page
  .answers-toggle, .upload-photo label {
    color: garden( link );
    @extend .bold;
  }
  // Threaded Discussion
  .comment-actions button {
    background: transparent image-url("#{$sears-img}/sprite_global.png") repeat-x 0 -200px;
  }
  // Breadcrumb
  .breadcrumb li:before {
    color:garden( link );
  }
  // Search Results
  .no-results .term {
    color: garden( link );
  }
  // Errors
  .site-error .message {
    background: garden( site-error );
  }
  // Avatar
  .member_avatar .badge {
    background-position:0px -243px;
  }
}

// Form Elements
.kmart_button {
  border-left:solid #ff9e6c;
  border-right:solid #cc6f35;
  border-width:0px 1px;
  color: $lightest-color;
  cursor:pointer;
  font-weight:bold;
  height:32px;
  margin-right:1em;
  padding:0em 1.5em;
  position:relative;
  text-shadow:1px 1px sears( sec-dec );
  @include border-radius( 5px );
  background-position:0px -96px;
}

.kmart_button.azure {
  background-image: image-url('#{$sears-img}/sprite_global.png');
  border-color:#60768b;
  color:#366392;
  text-shadow:none;
  background-position:0px -140px;
  margin-right: 0px;
}

// Threaded Discussion
.kmart .comment-actions button {
  background: transparent image-url("#{$sears-img}/sprite_global.png") repeat-x 0 -200px;
}