//*********************************
//  ADDTHIS BUTTON VERSION
//*********************************
.addthis_button_facebook_like iframe {
  width: 49px !important;
  min-width: 49px !important;
}

.addthis_button_tweet iframe {
  width:56px !important;
  min-width:56px !important;
}


//********************************* 
//  ADDTHIS "SHARE" TEXT VERSION 
//*********************************

// AddThis Vertical Hover Menu
.addthis_toolbox .share_menu_links_text {
  position: relative;
  // The "Share" text
  .share_button {
    padding: 6px 12px 6px 12px;
    cursor: pointer;
    @include border-radius( 5px 5px 0px 0px );
  }
}

// The "Share" text
.addthis_toolbox .share_menu_links_text .share_button {
  padding: 6px 12px 6px 12px;
  cursor: pointer;
  @include border-radius( 5px 5px 0px 0px );
}

.addthis_toolbox .share_menu_links_text .share_button.active {
  background-color: #eee;
}

// List of links - hidden when not hovered
.addthis_toolbox .share_menu_links  {
  display: none;
  position: absolute;
  background: #fff;
  width: 136px;
  padding: 1px;
  border: 3px solid #eee;
  @include border-radius( 5px );
}

// Actual links in the list of hidden links when not hovered
.addthis_toolbox .share_menu_links {
  a {
    position: relative;
    display: block;
    width: 102px;
    padding: 4px 0 4px 34px;
    text-decoration: none;
    color: #00bff3;
    // Actual links in the list of hidden links when hovered
    &:hover {    
      background: #f5f5f5;
      color: #027999;
      text-decoration: none;
      @include border-radius( 4px );
    }
  }
  span {
    position: absolute;
    left: 14px;
    top: 4px;
  }
}