#footer {
  padding-bottom:em-adjust( 1.5em );
}
ul.footer_anterior {
  margin-top: 1em;
  font-size: font-size( 12 );
  @include col-layout( ( 76, 155, 74, 70, 76, 76, 94, 71, 62, 16, 16, 16, 16 ), 10);
  .icon {
    background-image: url('#{$img}sprite-footer.png');
    background-repeat: no-repeat;
    //width: 16px;
    a {
      display:block;
      height:16px;
      line-height:16px;
      text-indent:-999999em;
    }
  }
  .acc.icon {
    a {
      height:30px;
      line-height:31px;
    }
  }
  @include sprite-position( ".acc", left,   top );
  @include sprite-position( ".fb",  -120px, top );
  @include sprite-position( ".twtr",-160px, top );
  @include sprite-position( ".yt",  -200px, top );
  @include sprite-position( ".smb", -240px, top );
}

.kmart .footer_anterior {
  p {
    font-size: font-size( 10 );
    margin-top: .5em;
    text-align: center;
  }
}