// Functions

// Used to calculate the width of a column in a given context
@function grid-width( $number-columns, $margin-width ) {
  @return ( $number-columns * ($margin-width * 3) ) + ( ($number-columns - 1) * $margin-width );
}

// the lookups for sears and kmart colors.
@function sears( $lookups, $types: $color-types, $colors: $sears-colors ) {
  @return lookup( $lookups, $types, $colors );
}
@function kmart( $lookups, $types: $color-types, $colors: $kmart-colors ) {
  @return lookup( $lookups, $types, $colors );
}

// return either a percentage or an em based on 
// the desired font-size and the base font-size.
// $default-font-size: 12;
// font-size(11) => 91.667%
// font-size(11em) => 0.916em
@function font-size( $target-size, $relative-size: $default-font-size ) {
  $ratio: $target-size / $relative-size;
  @return if( unitless( $target-size ), to-decimal-places( percentage( $ratio ), 3 ), to-decimal-places( $ratio, 3 ) );
}

// adjust Tim's em values to be relative to the default font size instead of 16px.
@function adjustment-factor( $value ) {
  @return to-decimal-places( ( ( $value * 16 ) / $default-font-size ), 3 );
}

@function em-adjust( $initial-value ) {
  @if is_list( $initial-value ) {
    $return-list: ();
    @each $size in $initial-value {
      $return-list: append( $return-list, adjustment-factor( $size ) );
    }
    @return $return-list;
  }
  @else {
    @return adjustment-factor( $initial-value );
  }
}

// Mixins
@mixin margin-adjust( $class: "", $margin: $margin-width-pct ) {
  #{$class}.span3 + .span3 + .span3 + .span3 + .span3 + [class*="span"],
  #{$class}.span6 + .span3 + .span3 + .span6 + [class*="span"],
  #{$class}.span4 + .span4 + .span4 + .span4 + [class*="span"] {
    margin-left: $margin;
  }
}

@mixin sprite-position( $selector, $x-pos: left, $y-pos: top, $rollover-x: 0, $rollover-y: 0 ) {
  #{$selector} {
    background-position: $x-pos $y-pos;
    @if $rollover-x != 0 and $rollover-y != 0 {
      &:hover {
        background-position: $rollover-x $rollover-y;
      } 
    }
  }
}
