// Functions
// Used to calculate the width of a column in a given context
@function grid-width( $number-columns, $margin-width ) {
  @return ( $number-columns * ($margin-width * $col-margin-ratio) ) + ( ($number-columns - 1) * $margin-width );
}

// the lookup shortcuts for colors based on brand.
@function sears( $lookups, $types: $color-types, $colors: $sears-colors ) {
  @return lookup( $lookups, $types, $colors );
}
@function kmart( $lookups, $types: $color-types, $colors: $kmart-colors ) {
  @return lookup( $lookups, $types, $colors );
}
@function garden( $lookups, $types: $color-types, $colors: $garden-colors ) {
  @return lookup( $lookups, $types, $colors );
}
@function outdoor( $lookups, $types: $color-types, $colors: $outdoor-colors ) {
  @return lookup( $lookups, $types, $colors );
}

// adjust Tim's em values to be relative to the default font size instead of 16px.
@function adjustment-factor( $value ) {
  @return to-decimal-places( ( ( $value * 16 ) / $default-font-size ), 3 );
}

@function em-adjust( $initial-value ) {
  @if is_list( $initial-value ) {
    $return-list: ();
    @each $size in $initial-value {
      $return-list: append( $return-list, adjustment-factor( $size ) );
    }
    @return $return-list;
  }
  @else {
    @return adjustment-factor( $initial-value );
  }
}

@function dimensions( $file ) {
  @return ( image-width($file), image-height($file) );
}

// Mixins
// margin-adjust puts the left margin back on spans that might otherwise be
// zeroed out by the layout classes that do so at the beginning of a new row.
@mixin margin-adjust( $class: "", $margin: $margin-width-pct ) {
  #{$class}.span3 + .span3 + .span3 + .span3 + .span3 + [class*="span"],
  #{$class}.span6 + .span3 + .span3 + .span6 + [class*="span"],
  #{$class}.span4 + .span4 + .span4 + .span4 + [class*="span"] {
    margin-left: $margin;
  }
}

// Position a sprite; create a hover state, too.
@mixin sprite-position( $selector, $x-pos: left, $y-pos: top, $rollover-x: 0, $rollover-y: 0 ) {
  #{$selector} {
    background-position: $x-pos $y-pos;
    @if $rollover-x != 0 and $rollover-y != 0 {
      &:hover {
        background-position: $rollover-x $rollover-y;
      } 
    }
  }
}

// Specialized mixin for creating the correct background color for the home subnav widget on Kmart Garden Solutions Center
@mixin kgsc-home-nav-selector( $color ) {
  #menu-kgscsubnavigation {
    li.garden_nav_home {
      background: $color;
      &:hover {
        background: $nav-home-color;
      }
    }
  }
}