/**
 *   @author Tim Steele
 */
#header {
  margin:0 auto;
  padding:1.3125em 0 .8em;
  width:960px;
  #logo {
    display:block;
    margin-top:.75em;
  }
  form {
    margin-top:.75em;
    position:relative;
    #input_search {}
  }
  aside {
    & > ul > li {
      margin-bottom:.35em;
    }
    ul li {
      text-align:right;
    }
    ul li ul li {
      border-left:solid 1px #666666;
      display:inline-block;
      font-size:.75em;
      padding:0 .4em 0 .8em;
      img {
        vertical-align: bottom;
        margin-right: .5em;
      }
    }
    ul li ul li:first-child {
      border:none;
    }
  }
}

#header.kmart {
  form {
    border:solid 5px #e02334;
    #input_search {
      background:transparent no-repeat 0px 0px;
      border:none;
      height:1.25em;
      padding:.25em 0 .25em 1.7em;
      margin-right:9%;
      width:84%;
    }
    #button_search {
      background:transparent repeat-x 0px -48px;
      border:solid #e02334;
      border-width:0 0 0 5px;
      font-size:.75em;
      height:2.5em;
      padding-bottom:.25em;
      position:absolute;
      right:0px;
      text-transform:uppercase;
      top:0px;
      width:3.33em;
    }
  }
}

#header.sears {
  form {
    border:solid 3px #3a81cf;
    #input_search {
      background:transparent no-repeat 0px 0px;
      border:none;
      height:1.25em;
      padding:.125em 0 .125em 1.5em;
      margin-right:11%;
      width:82%;
    }
    #button_search {
      background:#ca4019 repeat-x 0px -44px;
      border:0;
      color:#ffffff;
      font-size:.75em;
      height:2em;
      padding-bottom:.25em;
      position:absolute;
      right:0px;
      text-transform:uppercase;
      top:0px;
      width:3.33em;
    }
  }
}
