/**
 *   @author Tim Steele
 */
#header {
  margin:0 auto;
  padding:1.3125em 0 .8em;
  width:960px;
  #logo {
    display:block;
    margin-top:.75em;
  }
  form {
    margin-top:.75em;
    position:relative;
    #input_search {}
  }
  aside {
    & > ul > li {
      margin-bottom:.35em;
    }
    ul li {
      text-align:right;
    }
    ul li ul li {
      border-left:solid 1px #666666;
      display:inline-block;
      font-size:.75em;
      padding:0 .4em 0 .8em;
    }
    ul li ul li:first-child {
      border:none;
    }
  }
}

#header.kmart {
  form {
    #input_search {
      border:solid 5px #e02334;
    }
    #button_search {
      background:transparent url(assets/img/kmart/background_button.gif) repeat-x 0px 0px;
      border:0;
    }
  }
}

#header.sears {
  form {
    border:solid 3px #3a81cf;
    #input_search {
      border:none;
      height:1.25em;
      padding:.125em 0;
      margin-right:11%;
      width:89%;
    }
    #button_search {
      background:#ca4019 url(assets/img/sears/background_button.gif) repeat-x 0px 0px;
      border:0;
      color:#ffffff;
      font-size:.75em;
      height:2em;
      padding-bottom:.25em;
      position:absolute;
      right:0px;
      text-transform:uppercase;
      top:0px;
      width:3.33em;
    }
  }
}
