// ==============================
// LAYOUT
// ==============================
 
  .shc_overlay {
    height:100%;
    position:fixed;
    /* Offsets */
      top:0; 
      right:0;
      bottom:0;
      left:0;
    width:100%;
    z-index:9999;
  } 
  
  .android .shc_overlay {
    // Fix for 'jumpy' window when absolute positioned
    // element appears higher z-index than fixed position.
    position:absolute;
  }
  
  .shc_modal {
    position:absolute;
    z-index: 10000;
  }
  
  .shc_modal_container {
    & > header {
      position:relative;
    }
  }
  
  .close-button {
    position:absolute;
    /* Offsets */
      top:.25em;
      right:.5em;
      font-family: Verdana, sans-serif;
  }
  #myappl_flyout .close-button {
      top:0.3em;
      right:0.9em;
  }
  
  #myappl_flyout .lev1 {
    width: 98%;
  }

// ==============================
// PRESENTATION
// ==============================

  .shc_overlay {
    background:rgba(154,154,155,.5);
    -pie-background:rgba(154,154,155,.5);
  }
  
  .shc_modal {
    background:rgba(81,81,81,.6);
    padding:.75em;
    -pie-background:rgba(81,81,81,.6);
    @include border-radius(20px);
    .loading {
      //background:transparent url(  #{$csspath}loading_ffffff-29a3dd.gif) no-repeat center center;
      height:100%;
      min-height:3em;
      min-width:3em;
      text-align:center;
      width:100%;
    }
  }
  
  .shc_modal_container {
    background:#ffffff;
    height:100%;
    width:100%;
    @include border-radius(10px);
    header {
      background:#e8e8e8;
      padding:0px 10px;
      @include border-radius(10px 10px 0px 0px);
      h1 {
        text-transform:lowercase;
        font-size:112.5%;
        color:#60605b;
        line-height:193.75%;
      }
    }
    .content-display {
      @include border-radius(10px);
      @include legacy-pie-clearfix;
    }
    form {
      margin:1.625em 0;
      padding:0 1.25em;
    }
  }
  
  .close-button {
    height:13px;
    width:12px;
    color:#60605B !important;
  }