// @author Carl Albrecht-Buehler

$arrow-height: 3px;

// General class for creating a dropdown or "dropup" menu
.dropmenu {
  li {
    float: left;
    position: relative;
    a {
      display: block;
      font-weight: bold;
      text-align: center;
    }
    // Hover reveals drop menu
    &:hover { 
      ul {
        left: 0;
      }
    }
  }
  // Styling for drop menu
  ul {
    width: 99%;
    position: absolute;
    left: -9999px;
    z-index: 100;
    li {
      float: none;
      width: 100%;
      a {
        color: sears( secondary-link );
        font-weight: normal;
        text-align: left;
        padding-left: 1em;
        padding-right: .3em;
        &:visited {
          color: sears( secondary-link );
        }
      }
    }
  }
}

#navigation {
  width:960px;
  margin:0 auto;
}

// Consolidate what the headers have in common

// Sears Header Background
.shdrbg {
  background-image: url('#{$sears-img}sprite_navigation.png');
}
// Kmart Header Background
.khdrbg {
  background-image: url('#{$kmart-img}sprite_navigation.png');
}

.sears #header_nav.dropmenu, .kmart #header_nav.dropmenu {
  background-color: $nav-color;
}
.sears #header_nav.dropmenu ul, .kmart #header_nav.dropmenu ul {
  background: $lightest-color url('#{$img}sprite-menu.png');
}

.sears {
  #header_nav.dropmenu {
    @extend .shdrbg;
    li {
      a {
        color: sears( link );
        span {
          @extend .shdrbg;
        }
      }
      &.right_button {
        background-color: sears( button );
        @extend .shdrbg;
      }
    }
  }
  #footer_nav.dropmenu {
    li {
      background-color: sears( footer );
      @extend .shdrbg;
      &:hover {
        @extend .shdrbg;
      }
      a {
        span {
          @extend .shdrbg;
        }
      }
    }
  }
}

.kmart {
  #header_nav.dropmenu {
    @extend .khdrbg;
    li {
      a {
        color: #333333;
        span {
          @extend .khdrbg;
        }
      }
      &.right_button {
        background-color: kmart( button );
        @extend .khdrbg;
      }
    }
  }
  #footer_nav.dropmenu {
    li {
      a {
        span {
          @extend .khdrbg;
        }
      }
    }
  }
}

// Modify dropmenu for the header
.sears #header_nav.dropmenu, .kmart #header_nav.dropmenu {
  @include border-radius( 5px );
  border-left: 1px solid sears( decorative );
  background-repeat: repeat-x;
  ul {
    background-repeat: repeat-x;
  }
  @include sprite-position( "ul", left, bottom );
  li {
    border-right: 1px solid sears( decorative );
    width: percentage( 1/7 );
    padding: 1px 0;
    font-size: font-size( 12 );
    a {
      border-right: 1px solid $lightest-color;
      padding-top: .66em;
      padding-bottom: .66em;
      span {
        background-repeat: no-repeat;
        padding-right: 9px;
      }
      @include sprite-position( "span", right, $nav-sprite-offset );
    }
    &.right_button {
      @include border-radius( 0px 4px 4px 0px );
      float: right;
      border-left: 1px solid sears( decorative );
      border-right: 0;
      a {
        border-right: 0;
        color: $lightest-color;
      }
    }
    @include sprite-position( "&.right_button", left, ( $nav-sprite-period * ( -2 ) ) - 1 );
  }
  // Modifications to hovering menu for header
  ul {
    @include box-shadow( lighten( $darkest-color, 66 ) 2px 2px 8px );
    @include border-radius( 5px );
    border: 1px solid sears( decorative );
    li {
      width: 100%;
      font-size: font-size( 12, 12 );
      border-right: 0;
      a {
        color: #73726F;
        border-right: 0;
      }
    }
  }
}
@include sprite-position( ".sears #header_nav.dropmenu, .kmart #header_nav.dropmenu", left, ( $nav-sprite-period * ( -1 ) ) );
.sears #header_nav.dropmenu li ul li {
  border-top: 1px solid #f1f1f1;
  &:first-child {
    border-top: 0;
  }  
}
.kmart #header_nav.dropmenu ul {
  padding: 4px 0;
  li {
    font-size: font-size( 11, 12 );
    a:hover {
      color: $lightest-color;
      text-decoration: none;
      background: red;
    }
  }
}

// Modify dropmenu for the footer
#footer_nav.dropmenu {
  li {
    a {
      padding-top: .66em;
      padding-bottom: .66em;
      span {
        background-repeat: no-repeat;
        padding-right: 16px;
        display: inline-block;
        //width: 90%;
      }
      @include sprite-position( "span", right, ( $nav-sprite-period * ( -3 ) ) );
    }
    // Make the footer item appear above the footer bar ("drop-up")
    ul {
      bottom: 100%;
    }
  }
  // Modifications to hovering menu for footer
  ul {
    li {
      &:hover {
        // background: none;
      }
    }
  }
}

// Modify footer for Sears
.sears #footer_nav.dropmenu {
  background-repeat: repeat-x;
  @include border-radius( 5px );
  li {
    $divisor: ( $grid-width - ( $footer-count-sears - 1 ) ) / $footer-count-sears;
    width: percentage( $divisor / $grid-width );
    border-left: 1px solid $lightest-color;
    font-size: font-size( 12 );
    @extend .shdrbg;
    a {
      color: sears( footer-subnav-hover );
    }
    // Give the footer item a different background
    &:hover {
      a {
        color: sears( secondary-link );
      }
      // adjust for the first item's rounded corners
      &:first-child {
        @include border-radius( 0 0 0 5px );
      }
    }
    @include sprite-position( "&:hover", left, ( $nav-sprite-period * ( -5 ) ) );
    &:first-child {
      border-left: 0;
      @include border-radius( 5px 0 0 5px );
    }
    
    // adjust for the last item's rounded corners
    $last_item: repeat-concat( "", "+ li", ( $footer-count-sears - 1 ) );
    #{$last_item} {
      @include border-radius( 0 5px 5px 0 );
    }
    #{$last_item}:hover {
      @include border-radius( 0 0 5px 0 );
    }
  }
  // Modifications to hovering menu for footer
  ul {
    @include border-radius( 5px 5px 0 0);
    border: 1px solid sears( decorative );
    border-bottom: 0;
    background-color: sears( footer_fly );
    padding-top: 5px;
    li {
      width: auto;
      background-image: none;
      background-color: sears( footer_fly );
      font-size: font-size( 11, 12 );
      border-left: 0;
      padding: 0 .5em .5em .5em;
      &:hover {
        background-image: none;
      }
      a {
        color: sears( secondary-link );
        padding: 0;
        &:hover {
          color: sears( footer-subnav-hover );
          text-decoration: none;
        }
      }
    }
  }
}

@include sprite-position( ".sears #footer_nav.dropmenu li", left, ( $nav-sprite-period * ( -4 ) ) );

// Modify footer for Kmart
.kmart #footer_nav.dropmenu {
  background: kmart( footer );
  ul {
    background: kmart( footer );
  }
  li {
    $divisor: ( $grid-width - ( $footer-count-kmart - 1 ) ) / $footer-count-kmart;
    width: percentage( $divisor / $grid-width );
    border-left: 1px solid $lightest-color;
    // font-size: font-size( 13 );
    font-family: 'Trebuchet MS', $basefont;
    // Give the footer item a different background
    &:hover {
      background: kmart( footer-hover );
      a {
        color: kmart( footer );
      }
      ul li a {
        color: kmart( link );
      }
    }
    &:first-child {
      border-left: 0;
    }
  }
  // Modifications to hovering menu for footer
  ul {
    border: 1px solid kmart( footer-hover );
    @include border-radius( 5px 5px 0 0 );
    border-bottom: 0;
    li {
      width: 100%;
      border-left: 0;
      font-size: font-size( 12 );
      line-height: 1;
      font-family: $basefont;
      &:hover {
        background: none;
      }
      a {
        color: kmart( link );
      }
    }
  }
}