// @author Carl Albrecht-Buehler

$nav-sprite-offset: 5px;
$nav-sprite-period: 80px;
$arrow-height: 3px;

// General class for creating a dropdown or "dropup" menu
.dropmenu {
  li {
    float: left;
    position: relative;
    a {
      display: block;
      font-weight: bold;
      text-align: center;
    }
    // Hover reveals drop menu
    &:hover { 
      ul {
        left: 0;
      }
    }
  }
  // Styling for drop menu
  ul {
    @include box-shadow( lighten( $darkest-color, 66 ) 2px 2px 8px );
    @include border-radius( 5px );
    width: 100%;
    border: 1px solid sears( decorative );
    position: absolute;
    left: -9999px;
    z-index: 100;
    li {
      border-right: 0;
      border-top: 1px solid sears( decorative );
      float: none;
      width: 100%;
      &:first-child {
        border-top: 0;
      }
      a {
        border-right: 0;
        color: sears( secondary-link );
        font-weight: normal;
        text-align: left;
        padding-left: 1em;
        padding-right: .3em;
      }
    }
  }
}

#navigation {
  width:960px;
  margin:0 auto;
}

// Modify dropmenu for the header
#header_nav.dropmenu {
  border-left: 1px solid sears( decorative );
  font-size: percentage( 12/16 );
  background: $nav-color url('#{$img}sprite-nav.png');
  background-repeat: repeat-x;
  @include border-radius( 5px );
  ul {
    background: $lightest-color url('#{$img}sprite-nav.png');
    background-repeat: repeat-x;
  }
  @include sprite-position("ul", left, bottom );
  li {
    border-right: 1px solid sears( decorative );
    width: percentage( 1/7 );
    padding: 1px 0;
    a {
      border-right: 1px solid $lightest-color;
      padding: .5em 0;
      span {
        background-image: url('#{$img}sprite-nav.png');
        background-repeat: no-repeat;
        padding-right: 9px;
      }
      @include sprite-position("span", right, $nav-sprite-offset );
    }
    &.right_button {
      @include border-radius( 0px 4px 4px 0px );
      background: sears( button ) url('#{$img}sprite-nav.png');
      background-repeat: repeat-x;
      float: right;
      border-left: 1px solid sears( decorative );
      border-right: 0;
      a {
        border-right: 0;
        color: $lightest-color;
      }
      ul li a {
        color: sears( secondary-link );
      }
    }
    @include sprite-position("&.right_button", left, ( $nav-sprite-period * ( -2 ) ) - 1 );
  }
}
@include sprite-position("#header_nav.dropmenu", left, ( $nav-sprite-period * ( -1 ) ) );

// Modify dropmenu for the footer
#footer_nav.dropmenu {
  background: sears( footer ) url('#{$img}sprite-nav.png');
  background-repeat: repeat-x;
  font-size: percentage( 12/16 );
  ul {
    background: $lightest-color url('#{$img}sprite-nav.png');
    background-repeat: repeat-x;
  }
  @include sprite-position("ul", left, bottom );
  li {
    width: percentage( 1/6 );
    a {
      span {
        background-image: url('#{$img}sprite-nav.png');
        background-repeat: no-repeat;
        padding-right: 14px;
      }
      @include sprite-position("span", right, ( $nav-sprite-period * ( -3 ) ) );
    }
  }
  &:hover {
    ul {
      bottom: 100%;
    }
  }
  ul li {
    width: 100%;
  }
}

@include sprite-position("#footer_nav.dropmenu", left, ( $nav-sprite-period * ( -4 ) ) );

