$nav-sprite-offset: 5px;
$nav-sprite-period: 40px;
$arrow-height: 3px;
#header_nav {
  width: 95%;
  margin: 0 auto;
  border-left: 1px solid sears( decorative );
  font-size: percentage( 12/16 );
  background: $nav-color url('#{$img}sprite-nav.png');
  background-repeat: repeat-x;
  @include border-radius( 5px );
  li {
    float: left;
    position: relative;
    border-right: 1px solid sears( decorative );
    width: percentage( 1/7 );
    padding: 1px 0;
    a {
      display: block;
      border-right: 1px solid $lightest-color;
      padding: .5em 0;
      font-weight: bold;
      text-align: center;
      span {
        background-image: url('#{$img}sprite-nav.png');
        background-repeat: no-repeat;
        padding-right: 9px;
      }
      @include sprite-position("span", right, $nav-sprite-offset );
    }
    &.right_button {
      @include border-radius( 0px 4px 4px 0px );
      background: sears( button ) url('#{$img}sprite-nav.png');
      background-repeat: repeat-x;
      float: right;
      border-left: 1px solid sears( decorative );
      border-right: 0;
      a {
        border-right: 0;
        color: $lightest-color;
      }
      ul li a {
        color: sears( secondary-link );
      }
    }
    @include sprite-position("&.right_button", left, ( $nav-sprite-period * ( -4 ) ) - 1 );
    // Hover reveals dropdown menu
    &:hover { 
      ul {
        left: 0;
      }
    }
  }
  // Styling for dropdown menu
  ul {
    @include box-shadow( lighten( $darkest-color, 66 ) 2px 2px 8px );
    @include border-radius( 5px );
    width: 100%;
    background: $lightest-color url('#{$img}sprite-nav.png');
    background-repeat: no-repeat no-repeat;
    border: 1px solid sears( decorative );
    border-top: 0;
    position: absolute;
    left: -9999px;
    li {
      border-right: 0;
      border-top: 1px solid sears( decorative );
      float: none;
      width: auto;
      &:first-child {
        border-top: 0;
      }
      a {
        border-right: 0;
        color: sears( secondary-link );
        font-weight: normal;
        text-align: left;
        padding-left: 1em;
        padding-right: .3em;
      }
    }
  }
  @include sprite-position("ul", left, ( $nav-sprite-period * ( -4 ) ) );
}
@include sprite-position("#header_nav", left, ( $nav-sprite-period * ( -2 ) ) );