#login-open-id.open-id {
  border-top:solid 1px #cccccc;
  position:relative;
 p {
   font-size:17px;
   margin:2em 0 0px;
   text-align:center;
 }
 .or {
   background:#ffffff;
   font-size:13px;
   font-weight:bold;
   left:48%;
   position:absolute;
   text-align:center;
   top:-8px;
   width:37px;

 } 
}

.open-id-services {
  margin:0px auto;
  text-align:center;
  width:214px;
}

.open-id_service {
  display:inline-block;
  margin:8px 7px;
}

.open-id_service a {
  background:transparent image-url("sprite_open-id-services.png") no-repeat 0px 0px;
  display:block;
  text-indent:-9999em;
}

.open-id_facebook a {
  height:33px;
  width: 214px;
}

.open-id_yahoo a {
  background-position:0px -43px;
  height:16px;
  width:27px;
}

.open-id_google a {
  background-position:0px -71px;
  height:16px;
  width:16px;
}

.open-id_aol a {
  background-position:0px -166px;
  height:16px;
  width:15px;
}

.open-id_myspace a {
  background-position:0px -129px;
  height:16px;
  width:16px;
}

.open-id_twitter a {
  background-position:0px -101px;
  height:16px;
  width:16px;
}