// @author Carl Albrecht-Buehler
// @author Tim Steele

// SITE-WIDE TAG STYLES
html, body {
  height: 100%;
  text-align: left;
  background: $lightest-color;
  margin: 0;
  padding: 0;
  font-family: $basefont;
  line-height: 1.4;
  color: sears( body);
}

a {
  color: sears( link );
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: sears( link );
  }
}

.kmart a {
  color: kmart( link );
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: kmart( link );
  }
}

.sears a {
  color: sears( link );
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: sears( link );
  }
}
// END SITE-WIDE TAG STYLES

// CONVENIENCE CLASSES
.right {
  float: right;
}
.left {
  float: left;
}

.bullets {
  margin: 1em 0; 
  padding: 0 0 0 40px; 
}

ol.bullets {
  list-style-type:decimal;
}

ul.bullets {
  list-style-type:disc;
}

.bold {
  font-weight:700;
}

.faint {
  color:#666666;
}

.upcase {
  text-transform: uppercase;
}

.downcase {
  text-transform: lowercase;
}

// COMMONLY USED ELEMENTS
.badge {
  img {
    display: block;
    margin: 0 auto;
  }
  h4 {
    background: #bcdaf3 url('#{$img}sprite-user.png') repeat-x left bottom;
    color: $lightest-color;
    text-align: center;
    padding: .5em 0;
    @extend .bold;
    @include border-radius( 0 0 10px 10px );
  }
  .badge-tail {
    background: url('#{$img}sprite-user.png') no-repeat center top;
  }
}

/*
 * SHARE
 */

.addthis_button_facebook_like iframe {
  width:49px !important;
  min-width:49px !important;
}
.addthis_button_tweet iframe {
  width:56px !important;
  min-width:56px !important;
}

/*
 * FEATURED
 */

.content-container .content-headline {
  font-size:1.25em;
	line-height: 1.25em;
  @extend .bold;
}

.content-container .content-header {
  border:solid #dddcdc;
  border-width:1px 0px;
  padding:.625em;
  @extend .bold;
  @extend .faint;
  h3 {
    font-size:1.25em;
  }
  h4 {
    font-size:.6875em;
  }
}

.content-container .content-body {
  padding:.625em;
  .content-details {
    padding-bottom:.625em;
    .content-category {
      font-size:.8125em;
      float:left;
      @extend .bold;
    }
    .content-date {
      color:#999999;
      font-size:.6875em;
      float:right;
    }
  }
  .content-comments {
    color:#333333;
    font-size:.75em;
    margin-top:.8125em;
    li {
      border-left:solid 1px #999999;
      float:left;
      padding:0em .3125em;
    }
    & > li:first-child {
      border-left:none;
    }
  }
	.share-full {
		margin-top: 10px;
	}
}

// FEATURED COMMUNITY MEMBERS
.featured-members {
  h4 a, address {
    @extend .bold;
  }
  h5, p {
    @extend .faint;
  }
  address {
    display: block;
  }
  .span4 {
    .member {
      font-size: percentage( 12/16 );
      border-right: 1px solid sears( decorative );
      @include col_layout( (100, 90), 10 );
      .stats {
        //clear: left;
        width: 100%;
      }
    }
    & + .span4 + .span4 .member {
      border-right: 0;
    }
  }
}

.span8.featured-members.content-container {
  .content-header {
    border: 0;
    color: $darkest-color;
    padding: inherit 0;
  }
  .content-body {
    padding: 0;
  }
}

.span4.featured-members {
  .span4 {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-bottom: 1em;
    .member {
      border-right: 0;
      @include col_layout( (80, 210), 10 );
      article ul, h5 {
        //display: none;
      }
    }
  }
}

// FEATURED QUESTION
.featured-question.content-container {
  .category-image {
    background:transparent url(#{$img}category-image.jpg) no-repeat 0px 0px;
    float:left;
    height:6.25em;
    margin:0 .625em .625em 0;
    width:6.25em;
  }
}

// FEATURED BLOG POST
.content-container.featured-post {
	.content-excerpt, .content-byline {
		font-size:.75em
	}
}
.span4 .content-container.featured-post .span6 {
	width: 100%;
	margin-left: 0;
}