// @author Carl Albrecht-Buehler
// @author Tim Steele

// SITE-WIDE TAG STYLES
html, body {
  height: 100%;
  text-align: left;
  background: $lightest-color;
  margin: 0;
  padding: 0;
  font-family: $basefont;
  line-height: 1.4;
  color: sears( body );
}

body {
  font-size: percentage( $default-font-size/16 );
}

.kmart a {
  color: kmart( link );
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: kmart( link );
  }
}

.sears a {
  color: sears( link );
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: sears( link );
  }
}
// END SITE-WIDE TAG STYLES

// CONVENIENCE CLASSES
.right {
  float: right;
}
.left {
  float: left;
}

.hide {
  display:none;
}

.bullets {
  margin: em-adjust( 1em 0 ); 
  padding: 0 0 0 40px; 
}

ol.bullets {
  list-style-type:decimal;
}

ul.bullets {
  list-style-type:disc;
}

.bold {
  font-weight: 700;
}

.faint {
  color: sears( secondary-link );
}

.upcase {
  text-transform: uppercase;
}

.downcase {
  text-transform: lowercase;
}

.background_light-gray {
  background-color: #f3f3f3;
}

.link-emulator {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.sears .link-emulator {
  color: sears( link );
}
.kmart .link-emulator {
  color: kmart( link );
}

// SPRITES
#header.sears form #button_search, #header.sears form #input_search,
.sears_button
{
  background-image:url(#{$sears-img}sprite_global.png);
}

#header.kmart form #button_search, #header.kmart form #input_search,
.kmart_button
{
  background-image:url(#{$kmart-img}sprite_global.png);
}

// COMMONLY USED ELEMENTS
.member {
  .info {
    // font-size: percentage( 12/16 );
    word-wrap: break-word;
    h4, address {
      @extend .bold;
    }
    h5, p {
      @extend .faint;
    }
    address {
      display: block;
      @extend .bold;
    }
  }
}

// CREST - the assembly of a user's image, title, name and address
// Handles the display of user's images, names, titles and addresses (their crest)
.crest {
  word-wrap: break-word;
  img {
    display: block;
    margin: 0 auto;
  }
  h4 {
    padding: .5em 0;
    letter-spacing:-.05em;
  }
  h4, h5, address {
    @extend .bold;
  }
  &.labeled {
    h4 {
      background: sears( badge ) url('#{$img}sprite-user.png') repeat-x left bottom;
      text-align: center;
      @include border-radius( 0 0 10px 10px );
    }
    h4, h4 a {
      color: $lightest-color;
      line-height: 1;
    }
    .tail {
      background: url('#{$img}sprite-user.png') no-repeat center top;
      height: 10px;
      overflow: hidden;
    }
  }
}

.span4 .span4 .crest h4 {
  font-size: font-size( 10 );
}

.post {
  .content-date {
    display: block;
    float: right;
    // font-size:.6875em;
    // font-size:font-size( 11 );
    @extend .faint;
  }
  hgroup {
    @extend .bold;
  }
  h3 {
    font-size: font-size( 14 );
  }
  h2 {
    margin-top: .5em;
  }
  article {
    margin-top: .5em;
  }
  .post-actions {
    font-size: font-size( 13 );
    margin-top: .5em;
  }
}

.excerpt {
  @extend .faint;
}

/*
 * GLOBAL ELEMENTS
 */

/*
 * form elements
 */
.input_text {
  // Do not set padding for left/right to 0.
  // IE8 no like this.
  padding:em-adjust( .3125em .01em );
  border:solid 1px sears( decorative );
  height:em-adjust( 1.25em );
}

.required:after, .optional:after {
  color: #999999;
  font-size:.7857em;
}

.required:after {
  content: " Required";
}

.optional:after {
  content: " Optional";
}

.form-fields {
  & > li {
    margin-bottom:em-adjust( 1.35em );
  }
  label {
    display:block;
    font-size: font-size( 14 );
    font-weight:bold;
  }
}

.sears_button, .kmart_button {
  border-left:solid #ff9e6c;
  border-right:solid #cc6f35;
  border-width:0px 1px;
  color: $lightest-color;
  cursor:pointer;
  font-weight:bold;
  height:32px;
  margin-right:1em;
  padding:0em 1.5em;
  position:relative;
  text-shadow:1px 1px sears( sec-dec);
  @include border-radius( 5px );
}

.sears_button.azure, .kmart_button.azure {
  background-image: url('#{$sears-img}/sprite_global.png');
  border-color:#60768b;
  color:#366392;
  text-shadow:none;
}

.sears_button {
  background-position:0px -88px;
}

.sears_button.azure,
.kmart_button.azure {
  background-position:0px -140px;
}

.kmart_button {
  background-position:0px -96px;
}

.error-message {
  display:none;
}

.error {
  input[type="text"], input[type="password"] {
    border:solid 1px #ff0000;
  }
  .error-message {
    background-color:#e41e13;
    color:$lightest-color;
    display:block;
    float:left;
    font-weight:bold;
    margin:10px 0px 0px;
    padding:em-adjust( .25em 1em );
    position:relative;
    @include border-radius( 5px );
    .error-pointer {
      background:transparent url(#{$img}error_pointer-arrow.png) no-repeat 0px 0px;
      height:9px;
      display:block;
      left:15px;
      position:absolute;
      top:-9px;
      width:19px;
    }
  }
}

.form-errors {
  color:#ff0000;
}

form {}

// FEATURED

.content-container .content-header {
  border-top:solid 1px #dddcdc;
  padding: em-adjust( .625em );
  @extend .bold;
  @extend .faint;
  h3 {
    font-size: font-size( 20 ); // 1.25em
  }
  h4 {
    font-size: font-size( 11 ); // .6875em
  }
}

.content-date {
  color: sears( secondary-decorative );
  font-size:font-size( 11 );
}

.content-container {
  position: relative;
 .content-author, .content-comments {
    color:#333333;
    margin-bottom: em-adjust( .625em ); // 10px
  }
  .content-body {
    border-top:solid 1px #dddcdc;
    padding: em-adjust( .625em ) 0;
  }
  .content-category {
    float:left;
    font-size: font-size( 13 ); // 13px
    @extend .bold;
  }
  .content-date {
    float:right;
    line-height: em-adjust( 1.5em );
  }
  .content-details {
    margin-bottom: em-adjust( .625em ); // 10px
  }
  .content-headline {
    font-size:font-size( 20 ); // 20px
    line-height:1.1em; // 22px
    margin:0 0 .625em; // 10px
    @extend .bold;
  }
  
  .featured-image.span12 + .span12 {
    margin-top: em-adjust( .625em ); // 10px
  }
  .share-full {
    margin-top: 10px;
  }
}

.content-body {
  p {
    color:#333333;
    font-size: font-size( 13 ); // 13px
    line-height:1.7em;
    margin-bottom:1em;
  }
}

.span4, .span3 {
  .content-container .content-body .content-comments li {
    border-left: 0;
    float: none;
  }
}

// SINGLES PAGE
.single #content > section.span12 {
  border-top:solid 1px #d5d5d5;
}

.single #content > section.span12 > section[class*="span"] > [class*="span"]:first-child, 
.single #content > section.span12 > section[class*="span"] > [class*="span"]:first-child .content-body:first-child,
.single #content > section.span12 > section[class*="span"] > [class*="span"]:first-child .content-header:first-child {
  border-top:none;
}

.sears{
  .post, .question {
    h1 {
      color:#067BB5;
    }
  } 
}

.kmart{
  .post, .question {
    h1 {
      color:#980017;
    }
  } 
}

.post, .question {
  padding:inherit 0px;
  .content-body p {
    margin-bottom: em-adjust( 1.2em )
  }
}

textarea.discussion {
  border: 1px solid #d6d6d6;
  height:10em;
  width: 99%;
  @include border-radius( 4px );
}

.trigger.discussion {
  height:2em;
  margin-top:-3.75em;
  position:relative;
  text-align:right;
  z-index:999;
}

.question {
  .span2.badge, .span2.crest {
    margin-left:0px;
  }
  .content-date {
    float:left;
    .time-stamp {
      display:inline-block;
      margin-left:1.5em;
    }
  }
  .actions {
    float:none;
  }
}

.question + .ugc-comment-answer_form .trigger.discussion {
  height: 1em;
  margin: 0 0 1em;
  text-align: right;
}

// FEATURED COMMUNITY MEMBERS
.featured-members .member {
  .content-comments {
    width: 100%;
    li {
      float: none;
      border: 0;
    }
  }
  .stats {
    float: left;
    p {
      margin-bottom: em-adjust( .3em );
    }
  }
  .info ul {
    margin: em-adjust( .3em 0 );
  }
}

.span8, .span9, .span12 {
  .featured-members .content-body {
    & > * {
      width: 29.9%;
      float: left;
      padding: 0 1.6%;
      &:first-child {
        padding-left: 0;
      }
    }
    .member {
      border-left: 1px solid sears( decorative );
      &:first-child {
        border-left: 0;
      }
      @include col_layout( ( 80, 80 ), 20 );
    }
    @include legacy-pie-clearfix;
    .stats {
      float: none;
      clear: left;
      width: 100%;
      margin-left: 0;
    }
  }
}

.span3, .span4, .span6 {
  .member {
    @include col_layout( ( 80, 180 ), 20 );
    margin-top: 1em;
    &:first-child {
      margin-top: 0;
    }
  }
}
// Alternate selector for below class. Use if override for more scenarios is required.
// Also, more like these would have to be created on a per-widget basis if development is asked to create more override states.
//.span3 .featured-members, .span4 .featured-members, .span6 .featured-members,
//.span3.featured-members, .span4.featured-members, .span6.featured-members, .span8.featured-members

//.span3 .featured-members, .span4 .featured-members, .span6 .featured-members {
//  .span4 {
//    float: none;
//    width: 100%;
//    margin-left: 0;
//    margin-bottom: 1em;
//    .member {
//      border-right: 0;
//      @include col_layout( (80, 210), 10 );
//    }
//  }
//}

// FEATURED QUESTION
.featured-question.content-container {
  .category-image {
    float:left;
    height:em-adjust( 6.25em );
    margin:em-adjust( 0 .625em .625em 0 );
    width: em-adjust( 6.25em );
  }

  $column-width: nth( $span-widths, 4 );
  $calculated-widths: ratioize( ($column-width, $column-width, 20) );
  &.columns {
    .content-body {
      & > * {
        float: left;
        width: nth( $calculated-widths, 1 );
        & + * {
          margin-left: nth( $calculated-widths, 3 );
        }
      }
    }
    .featured:nth-child(odd) .column {
      border-right: 1px solid sears( decorative );
      padding-right: nth( $calculated-widths, 3 );
    }
    .content-date {
      float: none;
    }
    .content-headline {
      font-size: font-size( 13 );
    }
  }
}

.span4, .span3 {
  .featured-question.content-container.columns .content-body > * {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}
.span4, .span3 {
  .featured-question.content-container.columns .featured {
    margin-bottom: .75em;
    &:nth-child(odd) .column {
      border-right: 0;
      padding-right: 0;
    }
  }
}

// RESULT LIST
.result-list {
  margin-top: 1em;
  border: 1px solid sears( decorative );
  @include border-radius( 5px );
  .content-header {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .lone-result {
    padding-top: 1.5em;
    margin-top: .5em;
    border-top: 1px solid sears( decorative );
    &:first-child {
      margin-top: 0;
      border-top: 0;
    }
  }
  .content-header {
    border-top: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .content-headline {
    font-size: font-size( 14 );
    margin: 1em 0;
  }
}

.member .info .content-comments li {
  float: none;
  border: 0;
  margin-top: 0;
}

// FEATURED BLOG POST
.span4 .content-container.featured-post .span6 {
  width: 100%;
  margin-left: 0;
}

// RECENT ACTIVITY
.recent-activity {
  li {
    margin-top: 1em;
    border-top: 1px solid sears( decorative );
    padding-top: .75em;
    padding-bottom: .75em;
    line-height: 1.7;
    &:first-child {
      margin-top: 0;
      border-top: 0;
    }
  }
  time {
    float: right;
    @extend .faint;
  }
  h3 {
    a {
      font-weight: bold;
    }
    & > * {
      display: block;
    }
  }
  .excerpt {
    padding: .3em 1em;
    color: $darkest-color;
    background: sears( content-focus );
    // create quotes around a comment
    &:before {
      // left quote
      content: "\201C";
    }
    &:after {
      // right quote
      content: "\201D";
    }
  }
  .category {
    font-size: font-size( 11 );
    padding-top: .2em;
  }
}

.span3, .span4, .span6 {
  .recent-activity .excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*
 * POST A QUESTION
 */

.content-container.post-your-question {
  form {
    margin-top:em-adjust( .75em );
    .state_post-your-question {
      .input_text {
        width:83%;
      }
    }
    .state_post-question-details {
      .input_text {
        width:98%;
      }
      .input_textarea {
        width:98%;
      }
    }
    .state_confirm-post {
      .confirmation {
        padding:em-adjust( .625em );
      }
      .content-headline {
        color:#666666;
        font-size:em-adjust( 1.25em );
        margin-bottom:em-adjust( .30em );
      }
    }
  }
}

/*
 * LOGIN/REGISTER/FORGOT PASSWORD
 */
#moodle_container .sign-in, body > .sign-in,
#moodle_container .register, body > .register,
#moodle_container .forgot-password, body > .forgot-password {
  padding:20px;
}

.form_login, .form_register {
  .input_text {
    width:100%;
  }
  label, a {
    line-height:32px;
  }
  label {
    text-align:right;
  }
  .forgot {
    font-size: font-size( 11 );
  }
  .form-fields > li p {
    margin-bottom:0;
  }
}
fieldset#use_your_account_from {
    border-top: 1px solid sears( decorative );
  legend {
    text-align: center;
    padding: 1em;
  }
}
.login_options {
  text-align: center;
  line-height: 2.5;
  width: em-adjust( 15em );
  margin: 0 auto;
  a {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('#{$img}sprite-social.png');
    background-repeat: no-repeat;
    text-indent: -9999em;
    margin-left: em-adjust( 1.3em );
    &:first-child, &:first-child + a, &:first-child + a + a {
      margin-left: 0;
    }
  }
  .facebook {
    width: 213px;
    height: 32px;
  }
  .yahoo {
    width: 28px;
  }
  $social-links: ("facebook", "yahoo", "google", "twitter", "myspace", "aol", "hint", "openid" );
  @for $s from 2 through length( $social-links ) {
    @include sprite-position(".#{nth($social-links, $s)}", ( $soc-sprite-offset * ( -1 ) - ( $soc-sprite-period * ( $s - 2 ) ) ) );
  }
}

// subnav widget
.widget_communities_menu_widget {
  .subnav-items {
    font-size: font-size( 13 );
    .menu-item {
      padding: 6px 0;
    }
  }
  .subcat-selector-container {
    // font-size: .75em;
    margin-top: 15px;
    color: sears( secondary-link );
    select {
      margin-left: 10px;
      color: $darkest-color;
    }
  }
}

// PROFILE
$tab-padding: "1em 0 .6em 0";
.profile {
  .tabs {
    border-bottom: 1px solid sears( decorative );
    position: relative;
    top: 1px;
    li {
      float: left;
      min-width: percentage( ( nth( $span-widths, 3 ) ) / $grid-width );
      margin-left: $margin-width-pct;
      font-size: font-size( 13 );
      border: solid sears( decorative );
      border-width: 1px 1px 0 1px;
      text-align: center;
      @include border-radius( 5px 5px 0 0);
      background: $nav-color url('#{$sears-img}sprite_navigation.png');
    }
    a {
      display: block;
      padding: #{$tab-padding};
    }
    @include sprite-position( "li", left, ( $nav-sprite-period * ( -1 ) - 1 ) );
    .active {
      position: relative;
      top: 1px;
      background: $lightest-color;
      padding: #{$tab-padding};
    }
  }
  nav.bar {
    clear: left;
    border-bottom: 1px solid sears( decorative );
    border-top: 1px solid sears( decorative );
    @include background-image( linear-gradient( white, #f4f4f4 ) );
    li {
      float: left;
      margin-left: $margin-width-pct;
      font-size: font-size( 15 );
      padding: .6em .5em;
    }
    li:first-child {
      margin-left: 0;
    }
  }
  .profile-summary {
    margin-bottom: 1em;
  }
  .edit-profile-link {
    display: block;
    margin-top: 3em;
  }
  .answers-toggle {
    display: block;
    margin-left: 2em;
    @extend .bold;
  }
  .expert-answers {
    padding: 1em 3%;
    &.span2 {
      margin-left: 0;
    }
  }
  .personal_info {
    margin-top: 1em;
    dt, dd {
      float: left;
      padding: 1em 0;
      border-top: 1px solid sears( decorative );
      font-size: font-size( 13 );
    }
    dt {
      width: 30%;
      margin-left: 2%;
      @extend .bold;
      &:first-child, &:first-child + dd {
        border-top: 0;
      }
    }
    dd {
      width: 64%;
      padding-left: 2%;
    }
    .info {
      font-size: font-size( 16 );
      h4 {
        margin-top: 1em;
      }
    }
    .badge, .crest {
      text-align: center;
    }
    .vitals {
      margin-top: 1em;
      background: sears( content-focus );
    }
  }
  .upload-photo {
    label, input, button {
      display: inline-block;
      cursor: pointer;
      margin: .5em;
    }
    input[type="file"] {
      width: 100%;
      text-align: right;
    }
  }
  .no-activity {
    margin: 2em;
  }
}

.kmart {
  .answers-toggle, .upload-photo label {
    color: kmart( link );
    @extend .bold;
  }
}
.sears {
  .answers-toggle, .upload-photo label {
    color: sears( link );
    @extend .bold;
  }
}

// content list widget
.content-body.content-list {
  .content-item {
    margin-bottom: 10px;
    float: left;
    clear: both;
    .post-title {
      line-height:em-adjust( 1.2em );
    }
    .byline, .comments-count, .post-date {
      font-size: font-size( 11 );
      line-height: em-adjust( 1.4em );
      color: #999;
    }
    p {
      margin-bottom: 0;
    }
  }
  .more-link {
    font-size: em-adjust( .8em );
    margin-top: 15px;
    float: left;
    clear:both;
  }
}

// question list widget
.content-container.questionlist .content-body.content-list {
  .content-item {
    margin-bottom: 20px;
    .post-category {
      font-weight: bold;
      margin-bottom: 4px;
    }
    .addthis.dropmenu {
      padding-top: 3px;
      // font-size: .75em;
      .sharebutton {
        padding: 0;
      }
    }
  }
}

.tooltip {
  display: none;
  position: absolute;
  left: em-adjust( 12em );
  width: 250px;
  z-index: 1000003;

  .arrow {
    left: -10px;
    position: absolute;

    .left {
      background-color: transparent;
      border-color: #ffffff #a0c7ff #ffffff #ffffff;
      border-style: solid;
      border-width: 10px 10px 10px 0px;
      width: 0px;
      height: 0px;
    }

    .leftBorder {
      background-color: transparent;
      border-color: transparent #ffffff transparent transparent;
      border-style: solid;
      border-width: 9px 9px 9px 0px;
      width: 0px;
      height: 0px;
      position: relative;
      left: 3px;
      top: 2px;
    }

    .top {
      background-color: transparent;
      border-color: transparent transparent #a0c7ff transparent;
      border-style: solid;
      border-width: 0px 10px 10px 10px;
      width: 0px;
      height: 0px;
    }

    .topBorder {
      background-color: transparent;
      border-color: transparent transparent #fff transparent;
      border-style: solid;
      border-width: 0px 9px 9px 9px;
      width: 0px;
      height: 0px;
      position: relative;
      left: 1px;
      top: -9px;
    }
  }

  .middle {
    @include border-radius( 4px );
    background-color: $lightest-color;
    border: 1px solid #A0C7FF;
    color: $darkest-color;
    float: left;
    padding: 7px;
  }
}

// Threaded Discussion
.commentForm {
  margin-bottom: 20px;

  .leaveComment {
    float: right;
    cursor: pointer;
    margin: 1em 0 .5em;
    font-size: font-size( 14 );

    .smaller {
      bottom: 2px;
      font-size: font-size( 8 );
      position: relative;
    }
  }
}

.comments-header {
  margin-bottom: 1em;
  h3 {
    // font-size: font-size( 18 );
  }
  h4 {
    margin-left: 2em;
    color: $darkest-color;
    font-size: font-size( 10 );
    font-weight: normal;
  }
  > * {
    display: inline-block;
  }
}

.sears .comment-actions button {
  background: transparent url(#{$sears-img}/sprite_global.png) repeat-x 0 -192px;
}

.kmart .comment-actions button {
  background: transparent url(#{$sears-img}/sprite_global.png) repeat-x 0 -200px;
}

#allComments {
  @include border-radius( 4px );
  border: 1px solid #d6d6d6;
  border-bottom: 0;
  .content-body {
    border:none;
    padding:0px;
    margin-bottom:2em;
  }
  .comment {
    padding: 1em 2%;
    background: $lightest-color;
    border-bottom: 1px solid #d6d6d6;
    @include border-radius( 4px );
    time {
      float:left;
      .time-stamp {
        display:inline-block;
        margin-left:1.5em;
      }
    }
    article {
      font-size: font-size( 13 );
      word-wrap: break-word;
      p {
        margin-bottom:1em;
      }
    }

    .responseTo {
      @extend .bold;
      margin: 10px 0 0 0;
    }

    textarea {
      width: 98%;
    }
  }

  .children {
    clear: left;
    width: 85%;
    margin-left: 14.5%;
    margin-top: .5em;
    border: 1px solid #d6d6d6;
    border-bottom: 0;
    @include border-radius( 4px );
  }
  .span10 {
    word-wrap: break-word;
  }
  .trigger.discussion {
    height:1em;
    margin:-1.5em 0 2em;
    text-align:left;
  }
}
#allComments .expert {
  background: lighten( sears( decorative ), 15 );
}

// Activity buttons
.actions {
  float:right;
  margin: 0 0.5em;
  position:relative;
  z-index:1000;
  button {
    cursor: pointer;
    color: #4e74a3;
    border: 1px solid #d6d6d6;
    font-weight: bold;
    background: $lightest-color url('#{$img}sprite-actions.png') no-repeat;
    display: inline-block;
    float: right;
    text-indent: -999em;
    width: 2em;
    margin-left: 1em;
    padding: 2px;
    @include border-radius( 2px );
    @include box-shadow(sears( secondary-link ) 1px 2px 4px);
    &:first-letter {
      @extend .upcase
    }
  }
  .addthis_toolbox {
    float: left;
  }
}

.reply {
  float: left;
}

.reply-to-form {
  margin: 1em 0;
  label, input[type="text"] {
    float: left;
    margin: .5em 1%;
  }
  label {
    margin-top: 1em;
  }
}

@include sprite-position( 'button.flag', center, (( $act-sprite-period * -1 ) * 4) + 2 );
@include sprite-position( 'button.flag.active', center, (( $act-sprite-period * -1 ) * 5) + 2 );

@include sprite-position( 'button.downvote', center, (( $act-sprite-period * -1 ) * 2) + 2 );
@include sprite-position( 'button.downvote.active', center, (( $act-sprite-period * -1 ) * 3) + 2 );

button.upvote {
  width: auto;
  text-indent: 0em;
  margin-left: 0;
  text-align: left;
  padding-right: 1.5em;
}
@include sprite-position( 'button.upvote', 95%, 2px );
@include sprite-position( 'button.upvote.active', 95%, ( $act-sprite-period * -1 ) + 2 );

button.follow {
  float: left;
  width: auto;
  text-indent: 0em;
  background: none;
  margin-left: 0;
  margin-right: 1em;
}

.follow.active {
    background-color: #4E74A3;
    color: #fff;
  }

.metainfo {
  display: block;
  float: right;
  // font-size: 13px;
  font-size: font-size( 13 );
  position: relative;
  top: 2px;
  margin-left: .5em;
}

/**
 * @author Tim Steele
 *
 * Styles for the breadcrumb widget. Mainly used on the single pages, i.e.
 * blog, buying guide, question.
 */
.breadcrumb {
  border-top:solid 1px #d5d5d5;
  padding:1em 0;
  li {
    float:left;
    // font-size:.8125em;
    font-size: font-size( 13 );
    font-weight:bold;
    padding-right:em-adjust(.375em);
  }
  li:before {
    content: " > ";
  }
  li:first-child:before {
    content: "";
  }
}

.kmart .breadcrumb li:before {
  color:kmart( link );
}

.sears .breadcrumb li:before {
  color:sears( link );
}
.no-results {
  .header {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1em;
  }
  ul {
    padding-left: 20px;
  }
}