.menu-sears-ribbon-container, .menu-kmart-ribbon-container {
  background-color:#e7e7e7;
  font-size: font-size( 16 );
  height:1.6em;
  width:100%;
  & > ul {
    padding-top:.1em;
    text-align:center;
    & > li {
      border-left:dotted 1px #666666;
      display:inline;
      height:.9375em;
      padding:0 .375em 0 .625em;
      a {
        display:inline-block;
        height:15px;
        line-height:16px;
        text-indent:-999999em;
      }
    }
    & > li:first-child {
      border-left:none;
    }
  }
  .menu-item a {
    background:transparent image-url("sprite_ribbon.png") no-repeat;
  }
  .ribbon_shop-your-way {
    a {
      background-position:0px -30px;
      width:59px;
    }
  }
  .ribbon_sears {
    a {
      background-position:0px 0px;
      width:41px;
    }
  }
  .ribbon_kmart {
    a {
      background-position:0px -15px;
      width:44px;
    }
  }
  .ribbon_shop-your-way-rewards {
    a {
      background-position:0px -45px;
      width:67px;
    }
  }
  .ribbon_my-gofer {
    a {
      background-position:0px -60px;
      width:49px;
    }
  }
  .ribbon_craftsman {
    a {
      background-position:0px -75px;
      width:62px;
    }
  }
  .ribbon_kenmore {
    a {
      background-position:0px -90px;
      width:49px;
    }
  }
  .ribbon_parts-direct {
    a {
      background-position:0px -105px;
      width:53px;
    }
  }
  .ribbon_lands-end {
    a {
      background-position:0px -120px;
      width:65px;
    }
  }
  .ribbon_sears-outlet {
    a {
      background-position:0px -135px;
      width:59px;
    }
  }
  .ribbon_kmart-vendors {
    a {
      background-position:0px -165px;
      width:54px;
    }
  }
  .ribbon_see-all {
    a {
      background-position:0px -150px;
      width:32px;
    }
  }
}
