.content-container .breadcrumbs {
  border-top: 1px solid #d5d5d5;
  padding: 15px 0px;
}

.sears .content-container .single {
  .content {
    h2 {
      color: sears(link);
    }
  }
}

.kmart .content-container .single {
  .content {
    h2 {
      color: kmart(link);
    }
  }
}

.content-container .single {
  border-top: 1px solid #d5d5d5;
  color: #666;
  margin-bottom: 25px;
  margin-left: 0px;
  padding-left:$margin-width-pct;
  padding-top: 15px;

  .top {
    margin-bottom: 10px;

    .date {
      color: #ccc;
      float: right;
      font-size: 14px;
    }
  }

  .content {
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }

  .comments {
    .commentForm {
      margin-bottom: 20px;

      textarea {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border: 1px solid #d6d6d6;
        margin-bottom: 15px;
        width: 99%;
      }

      .top {
        .leaveComment {
          color: #067BB5;
          float: right;

          .smaller {
            bottom: 2px;
            font-size: 8px;
            position: relative;
          }
        }
      }
    }

    .allComments {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border: 1px solid #d6d6d6;
      overflow: hidden;
      padding: 20px 18px;
      width: 94%;

      .comment,
      .children {
        margin-bottom: 25px;
        overflow: hidden;
        width: 100%;

        .rightSide {
          float: left;
          margin-right: 7%;
          width: 15%;

          .userImage {
            border: 1px solid #000;
            height: 100px;
            width: 100%;
          }
        }

        .leftSide {
          float: left;
          width: 78%;
        }
      }

      .children {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border: 1px solid #d6d6d6;
        float: right;
        padding: 20px 18px;
        width: 85%;
      }
    }
  }
}