#footer {
  padding-bottom:em-adjust( 1.5em );
}
ul.footer_anterior {
  margin-top: 1em;
  font-size: font-size( 12 );
  @include col-layout( ( 76, 150, 580, 16, 16, 16, 16 ), 10);
  li {
    color: sears( secondary-link );
    a {
      color: sears( secondary-link );
      font-size: font-size( 8, 12 );
      &:visited {
        color: sears( secondary-link );
      }
      &:hover {
        color: sears( footer-subnav-hover );
        text-decoration: none;
      }
    }
  }
  .icon {
    background-image: image-url('sprite-footer.png');
    background-repeat: no-repeat;
    //width: 16px;
    a {
      display:block;
      height:16px;
      text-indent:-9999em;
    }
  }
  .acc.icon {
    a {
      height:30px;
    }
  }
  @include sprite-position( ".acc", left,   top );
  @include sprite-position( ".fb",  -120px, top );
  @include sprite-position( ".twtr",-160px, top );
  @include sprite-position( ".yt",  -200px, top );
  @include sprite-position( ".smb", -240px, top );
}
