.dropzone.span8 .hero-slider {
	background: image-url("hero-slider-bg.png") center center;
	width: 620px;
	height: 360px;
	position: relative;
}
.hero-slider {
	.rotating-banner {
		overflow:hidden;
		position:relative;
		width: 579px;
		height: 315px;
		z-index:25;
		left:20px;
		top:10px;
		
		.content-headline {
			position: absolute;
			top: 260px;
			width: 100%;
			background: #000000;
			background: rgba(0,0,0,.5);
			color: #ffffff;
			font-weight: normal;
			padding: 5px 10px 5px 15px;
		}
		
		& > * {
			left:100%;
			position:absolute;
			width:100%;
			top:0
		}
		
		& > .active {
			display:block;
			left:auto;
			position:relative;
			top:auto;
			zoom:1
		}
		
		.rotating-banner-navigation {
			bottom:1em;
			left:50%;
			margin-left:-5%;
			position:absolute;
			top:auto;
			z-index:25;
			
			.active {
				background:#ff0033
			}
			
			a {
				background-color:#ffffff;
				display:block;
				float:left;
				height:1em;
				margin-right:.5em;
				width:1em;
				z-index:30
			}
		}
		
		.banner.banner_link {
			cursor: pointer;
		}
		
		.in-transit {
			z-index:24
		}
	}
	
	a.prev-slide {
		background: image-url("hero-slide-left.png") center center transparent;
		width: 40px;
		height: 100px;
		position: absolute;
		top: 115px;
		left: 0px;
		z-index:30;
	}
	
	a.next-slide {
		background: image-url("hero-slide-right.png") center center transparent;
		width: 40px;
		height: 100px;
		position: absolute;
		top: 115px;
		right: 1px;
		z-index:30;
	}
}

@media only screen and (min-width: 731px) and (max-width: 864px) {

}
@media only screen and (max-width: 730px) {
	.rotating-banner .rotating-banner-navigation a {
		height:.75em;
		width:.75em
	}
}