// ==============================
// LAYOUT
// ==============================

#moodle_overlay {
  height:100%;
  position:fixed;
  /* Offsets */
  top:0; 
  right:0;
  bottom:0;
  left:0;
  width:100%;
  z-index:1000001;
} 

.android #moodle_overlay {
  // Fix for 'jumpy' window when absolute positioned
  // element appears higher z-index than fixed position.
  position:absolute;
}

#moodle_window {
  position:absolute;
  z-index: 1000002;
}

#moodle_container {
  *zoom: 1;
  & > header {
    position:relative;
  }
}

#moodle_container:before, #moodle_container:after {
  content: ""; 
  display: table; 
}

#moodle_container:after {
  clear:both;
}

.close-button {
  position:absolute;
  /* Offsets */
  top:20px;
  right:20px;
  font-family: Verdana, sans-serif;
}

// ==============================
// PRESENTATION
// ==============================
#moodle_overlay {
  background:rgba(0,0,0,.5) image-url("gizmos/moodle/background_loading_white-transparent.gif") no-repeat center center;
  background-image:image-url("gizmos/moodle/background_overlay_no-rgba.png")\9;
  background-repeat:repeat\9;
}

#moodle_window {
  background:rgba(143,199,252,.3);
  padding:em-adjust( .75em );
  @include border-radius(20px);
  .loading {
    height:100%;
    min-height:em-adjust( 3em );
    min-width:em-adjust( 3em );
    text-align:center;
    width:100%;
  }
}

#moodle_container {
  background:#ffffff;
  height:100%;
  width:100%;
  @include border-radius(10px);
}

#moodle_container .close-button {
  background:transparent image-url("modal_close-button.png") no-repeat 0px 0px;
  height:8px;
  width:35px;
}

.moodle_transit {
  left:-99999em;
  opacity:0;
  position:absolute;
  top:-99999em;
  visibility: hidden;
  max-width:940px;
}

#moodle_error {
  width:400px;
  padding:20px;
}
