.sears .post-n-comments h2, .kmart .post-n-comments h2 {
  font-size: font-size( 14 );
  margin: 1.25em 0;
  @extend .bold;
}

.section-header {
  padding: .5em;
  border-top: 1px solid sears( decorative );
  border-bottom: 1px solid sears( decorative );
  @extend .bold;
}

.post-n-comments {
  color: #666;
  header {
    margin-bottom: 1em;
    font-size: font-size( 20 );
    & + .span2.badge, & + .span2.crest {
      margin-left: 0;
    }
  }
  .date {
    float: right;
  }
  a.category {
    display: block;
  }
  .content {
    h2 {
      font-size: font-size( 24 );
      margin-bottom: 10px;
    }
    p {
      font-size: font-size( 14 );
      margin-bottom: 25px;
    }
  }
  textarea {
    @include border-radius( 4px );
    border: 1px solid #d6d6d6;
    margin-bottom: 15px;
    width: 99%;
  }
}

// @author Tim Steele

.blog-post {
  h1 {
    
  }
}
