@import "weather/*.png";
@include all-weather-sprites(true);

.weather-widget {
	width: 100%;
	.day-title {
		text-transform: uppercase;
		font-size: 110%;
	}
	.weather-today {
		clear: both;
		width: 100%;
		.large-icon {
			float: left;
			width: 50%;
		}
		.conditions-today {
			float: right;
			width: 50%;
			.today-high-low {
				margin-bottom: 0px;
				.today-high {
					font-weight: bold;
					font-size: 300%;
				}
				.today-low {
					font-size: 160%;
				}
			}
			.conditions-string {
				margin-bottom: 4px;
				line-height: 90%;
			}
			.location {
				font-weight: bold;
				line-height: 90%;
			}
		}
	}
	.extended-forecast {
		clear: both;
		.daily-forecast {
			width: 25%;
			float: left;
			text-align: center;
			.conditions-icon {
				margin: 0 20%;
			}
			p {
				margin-bottom: 0px;
			}
		}
	}
	.wunderground-img {
		clear: both;
		float: right;
		width: 50%;
		margin: 5px 20px 0 0;
	}
}
.kmart .update-zipcode .content-body p.error-message {
	color: #ffffff;
}

.unknown-location {
	position: relative;
	.weather-today, .extended-forecast {
		opacity: 0.3;
		filter:alpha(opacity=30);
	}
	.select-location {
		position: absolute;
		width: 80%;
		left: 4%;
		padding: 5%;
		background-color: #ffffff;
		top: 90px;
		z-index: 1;
		p {
			margin-bottom: 4px;
			line-height: 95%;
		}
	}
}
.kmart .unknown-location .select-location {
	border: 3px solid #e02334;
}
.sears .unknown-location .select-location {
	border: 3px solid #3a81cf;
}