// Tweaks to Moodle for Sears

.sears #moodle_window {
  background:rgba(143,199,252,.3);
  .loading {
    background:transparent image-url("#{$sears-img}background_loading.gif") no-repeat center center;
  }
} 

.no-rgba .sears #moodle_window {
  background:transparent image-url("#{$sears-img}background_modal-border_no-rgba.png") repeat 0px 0px;
}
