/*
Syntax error: Invalid CSS after "... 6, 2 ), 98% );": expected selector or at-rule, was "%polls_indent {"
        on line 3 of sass/global/_polls.scss
        from line 28 of sass/style.scss

1: $poll-sizes: ratioize( ( 60, 220, 40, 6, 2 ), 98% );
2: 
3: %polls_indent {
4:   margin-left: .75em;
5: }
6: %polls_middle_column {
7:   border-right: 1px solid sears( decorative );
8:   border-left: 1px solid sears( decorative );

Backtrace:
sass/global/_polls.scss:3
sass/style.scss:28
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/scss/parser.rb:1010:in `expected'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/scss/parser.rb:956:in `expected'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/scss/parser.rb:28:in `parse'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/engine.rb:327:in `_to_tree'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/engine.rb:259:in `to_tree'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `each'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/dasfisch/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"... 6, 2 ), 98% );\": expected selector or at-rule, was \"%polls_indent {\"\A         on line 3 of sass/global/_polls.scss\A         from line 28 of sass/style.scss\A \A 1: $poll-sizes: ratioize( ( 60, 220, 40, 6, 2 ), 98% );\A 2: \A 3: %polls_indent {\A 4:   margin-left: .75em;\A 5: }\A 6: %polls_middle_column {\A 7:   border-right: 1px solid sears( decorative );\A 8:   border-left: 1px solid sears( decorative );"; }
