// Forum (sub-forum listing) specific changes
.forum {
	#comm-forums-main {
		.bbp-header {
			.bbp-forum-info {
				width: 50%;
			}
			.bbp-forum-freshness {
				width: 35%;
				margin-left: 15%;
				text-align: left;
			}
		}
		.bbp-body {
			.bbp-forum-info {
				width: 50%;
				.bbp-forum-title {
					font-size: 16px;
				}
				.bbp-forum-content {
					margin: 0;
				}
			}
			.bbp-forum-topic-count {
				width: 15%;
			}
			.bbp-forum-freshness {
				width: 35%;
			}
		}
	}
}
