// Forum (sub-forum listing) specific changes
.forum {
	#comm-forums-main {
		.bbp-header {
			.bbp-forum-info {
				width: 50%;
			}
			.bbp-forum-freshness {
				width: 35%;
				margin-left: 15%;
				text-align: left;
			}
		}
		.bbp-body {
			margin-top: 2px;
			border-top: 1px dotted #ccc;
			.bbp-forum-info {
				width: 50%;
				.bbp-forum-title {
					font-size: 16px;
				}
				.bbp-forum-content {
					margin: 0;
				}
			}
			.bbp-forum-topic-count {
				width: 15%;
			}
			.bbp-forum-freshness {
				width: 35%;
			}
			.forum {
				border-top: 0;
				border-bottom: 1px dotted #ccc;
			}
			.odd {
				background-color: #fff;
			}
			.even {
				background-color: #f6f6f6;
			}
		}
	}
}
