// Forum Archive (forums landing page) specific changes
.forum-archive {
	#comm-forums-main {
		.bbp-forums {
			border: 0;
		}
		h1 {						
			padding: 17px 0 5px 146px;
			font-weight: bold;
			font-size: 14px;
		}
		p {
			padding-left: 146px;
		}
		.bbp-header {
			.bbp-forum-info {
			}
			.bbp-forum-freshness {
				margin-left: 20%;
				text-align: left;
			}
		}
		.bbp-body {
			margin-top: 2px;
			border-top: 1px dotted #ccc;
			.bbp-forum-info {
				.bbp-forum-title {
					font-size: 16px;
				}
				.bbp-forum-content {
					margin: 0;
				}
			}
			.forum {
				border-top: 0;
				border-bottom: 1px dotted #ccc;
			}
			.odd {
				//background-color: #fff;
			}
			.even {
				//background-color: #f6f6f6;
			}
		}
		
		// General forum widths
		.bbp-forum-info {
			width: 50%;
		}
		.bbp-forum-freshness {
			width: 30%;
		}
		.bbp-forum-topic-count {
			width: 14%;
			margin-right: 6%;
			text-align: right;
		}
	}
}

.sears.forum-archive {
	#comm-forums-main {
		#forums-head  {
			background: image-url("#{$forums-img}sears_forumsLogo.gif") no-repeat;
			height: 86px;
		}
		h1 {
			color: #87CDEC;
		}
	}
}

.kmart.forum-archive {
	#comm-forums-main {
		#forums-head  {
			background: image-url("#{$forums-img}kmart_forumsLogo.gif") no-repeat;
			height: 86px;
		}
		h1 {
			color: #E82E2C;
		}
	}
}