// Tweaks to Presentation for Outdoor Style
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Open+Sans:300italic,400italic,700italic,400,700,300);

$regular: 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
$condensed: 'Open Sans Condensed', Helvetica, Arial, Verdana, sans-serif;

// Forums Styles
html,body {
	font-family:$regular;
}

html, html > body.bbpress {
	background:transparent image-url("#{$forums-img}brickwall_tan.png") repeat 0px 0px;
	height: auto;
}


.bbpress {
	#container {
		background: #fff;
		-webkit-box-shadow: 0px 10px 15px 1px #999;
		box-shadow: 0px 10px 15px 1px #999;		
		#content > section.span12 {
			border-top: 1px dotted #ccc;
		}
		#comm-forums-main {
			border-right: 1px dotted #ccc;
			padding-top: 15px;
			padding-right: 5px;
			position: relative;
			#bbpress-forums {
				.bbp-topics {
					border: 0;
				}
			}
		}
		#comm-forums-side {
			margin-left: 0;
			.widget {
				padding: 5px;
				border-bottom: 1px dotted #ccc;
			}
		}
	}
	#forums-head{
		margin-bottom: 15px;
		h1 {
			font-size: 26px;
			font-weight: lighter;
			color: #444;
			padding-bottom: 5px;
		}
	}		
	#bbpress-forums {
		.bbp-forums {
			border: 0;
		}
		// First Post in a Topic
		.bbp-lead-topic{
			.topic {
				border-bottom: 0;
			}
			.bbp-topic-title {
				font-size: 20px;
				margin-bottom: 10px;
			}
			.bbp-body {
				margin-top: 2px;
				.hentry {
					padding: 0;
				}
			}
			.bbp-topic-content {
				margin-left: 80px;
			}
		}
		// Topic Replies
		.bbp-replies {
			border: 0;
			margin-bottom: 2px;
			.hentry {
				position: relative;
				padding-bottom: 30px;
			}

			.forums-single-reply-footer {
				position: absolute;
				bottom: 5px;
				right: 28px;
			}
			.bbp-reply-content {
				margin-left: 80px;
				padding-top: 0px;
			}
			.bbp-forum-freshness,
			.bbp-topic-reply-count {
				font-size: 10px;
			}
		}
		.bbp-form {
			border: 0;
			padding: 5px;
		}
		.bbp-header,
		.bbp-footer {
			background-color: #eee;
		}
		.bbp-header {
			font-size: 14px;
			color: #666;
		}
		.reply {
			border-bottom: 1px dotted #ccc;
		}
		.reply:last-child {
			border-bottom: 0;
		}
	}
	.bbp-pagination {
		display: inline-block;
		float: right;
		position: relative;
		width: auto;
		margin-bottom: 10px;
	}
	.forums-last-activity {
		text-align: left;
	}
}

.forums-not-logged-in {
	h2 {
		font-size: 16px;
		font-weight: bold;
	}
}

h3 {
	font-size: 20px;
	font-weight: bold; 
	color: #444; 
}

.forums-post-author-date {
	font-size: 10px;
	margin-bottom: 20px;
}

#forums-topic-reply-link {
	display: inline-block;
}

#forums-topic-bottom {
	border-top: 1px dotted #CCC;
    padding-top: 5px;
}
#reply-not-loggedin-message {
	font-size: 10px;
	margin-top: 30px;
}

.bbp-no-topic,
.forums-not-logged-in {
	h2 {
		font-size: 14px;
		font-weight: bold;
		clear: left;
		margin: 20px 0 10px;
	}
}

// Kmart specific changes
.kmart.bbpress {
	#bbpress-forums {
		// First Post in a Topic
		.bbp-lead-topic{
			.bbp-topic-title {
				color: #E82E2C;
			}
		}
	}
}
// Sears specific changes
.sears.bbpress {
	#bbpress-forums {
		// First Post in a Topic
		.bbp-lead-topic{
			.bbp-topic-title {
				color: #0B79B9;
			}
		}
	}
}
