
.forum-search {
	#container {
		#comm-forums-main {
			border-right: 0px;
			.bbp-pagination {
				width: 100%;
			}
			#bbp-search-results {
				border: 0;		
				.bbp-header {
				}
				.bbp-body {			
					border-top: 1px dotted #ccc;
					margin-top: 2px;
					h3 {
						font-size: 16px;
					}
					.forum,
					.reply,
					.topic {
						h3 {
							font-size: 12px;
							font-weight: normal;
							margin: 5px;
						}
					}
					.bbp-forum-content,
					.bbp-reply-content,
					.bbp-topic-content {
						margin-left: 75px;
						padding: 8px 12px 0 0;
					}				
					.bbp-topic-header {
						background: none;
						border-top: 0;
						height: 0;
						padding: 0;
					}
					.bbp-topic-author,
					.bbp-reply-author {
						margin-right: 15px;
					}		
					.bbp-reply-post-date {
						font-style: italic;
					}
					.forums-post-author-date {
						margin-bottom: 5px;
					}
				}
				.bbp-footer {
					font-weight: 600;
				}

				.bbp-header,
				.bbp-footer		{
					.bbp-search-content {
						margin: 0 0 0 8%;
						font-size: 14px;
					}
				}
			}
		}
	}
}