// Side bar styles
#comm-forums-side{
	.widget #bbp-search-form{
		background: #dbf0f9;
		padding: 5px 5px 5px 15px;
		.search-tick{			
			border-left: 8px solid #FFFFFF;
			left: 5px;
			position: absolute;
		}	
		.search-input-container{
			border: 2px solid #f6f6f6;
			padding-left: 5px;
			margin: 0 auto;
			margin-bottom: 15px;
			width: 190px;
			background: #fff;
			#bbp_search{
				border: none;
				color: #000;
				width: 134px;
			}
			#bbp_search_submit{
				border:none;
				background:orange;
				color:#fff;
				height:32px;
				width: 32px;
				cursor: pointer;
			}
		}
		label {
			font-size: 26px;
		}
		a{
			display: block;
			margin-bottom: 11px;
			font-size: 12px;
		}
		p {
			line-height: 22px;
			margin-bottom: 10px;
		}
	}
	.content-header,
	.content-body	{
		border-top: 0;
	}
}
.kmart {
	#comm-forums-side{
		.widget #bbp-search-form{
			background: #f3e6e6;
			label {
				color: #e82e2c;
			}
			.search-tick{
				border-bottom: 19px solid #F3E6E6;
				border-top: 19px solid #F3E6E6;
			}
		}
	}
}

.sears {
	#comm-forums-side{
		.widget #bbp-search-form{
			background: #dbf0f9;
			label {
				color: #87cdec;
			}
			.search-tick{
				border-bottom: 19px solid #DBF0F9;
				border-top: 19px solid #DBF0F9;
			}
		}
	}
}